* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
body {
  background-color: #0d1117;
  font-size: var(--body-font-size, 16px);
  line-height: 1.5;
  color: #ffffff;
}
.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 6px;
  justify-content: start;
}
.container-new-acc {
  background-color: transparent;
  font-size: 95%;
  border: 1px solid #21262d;
  text-align: center;
  padding: 10px;
  width: 70%;
  border-radius: 6px;
  margin: auto;

}
.container-error {
  font-size: 90%;
  border: 1px solid rgba(255, 0, 4, 0.5);
  background-color: rgba(255, 0, 100, 0.1);
  padding: 8px;
  width: 70%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: none;
  margin: auto;
}
.container-logo {
  text-align: center;
  width: 50%;
  border-radius: 6px;
  margin: auto;
}
h1 {
  font-size: 20px;
  font-weight: 450;
  margin: 5px;
  text-align: center;
}
h2 {
  font-size: 24px;
  font-weight: 490;
  margin: 5px;
}

form {
  margin: auto;
  background-color: #161b22;
  border: 1px solid #21262d;
  padding: 0px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  border-radius: 6px;
}

input {
  width: 100%;
  font-family: ColfaxAI,helvetica,sans-serif;
  padding: 12px;
  border-radius: 4px;
  font-size: 100%;
  margin-top: 5px;
  outline: none;
  border: none;
  color: #ffffff;
  border: 1px solid #21262d;
  background-color: #0d1117;
}
input:focus {
  outline: 1px solid rgb(255, 140, 0);
}

input[type="submit"] {
  background-color: rgb(255, 140, 0);
  color: white;
  margin-top: 13px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 15px;
  border: none;
  font-weight: 700;
}
input[type="submit"]:hover {
  background-color: rgba(255, 140, 0, 0.8);
}
.link-color {
  color: dodgerblue;
  cursor: pointer;
  text-decoration: none;
  font-size: 95%;
}
footer {
  height: 10vh;
  display: flex;
  padding-top: 8px;
  width: 25%;
  margin: auto;
  justify-content: space-evenly;
}
.sub-footer {
  height: 5vh;
  padding-top: 5px;
  color: gray;
  display: flex;
  justify-content: center;
}
.loading {
  position: absolute;
  top: 36%;
  left: 49%;
  display: none;
  z-index: 100;
}
.fade {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}
.formDivision {
  background-color: transparent;
  border-bottom: 1px solid #21262d;
  padding: 10px;
  width: 100%;
  margin: 0;
}
.formDivision3 {
  background-color: transparent;
  border-top: 1px solid #21262d;
  padding: 13px;
  width: 100%;
  margin: 0;
}
.formDivision2 {
  background-color: transparent;
  font-size: 95%;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  margin: 0;
}
.next-holder {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 12px;
  width: 100%;
}
.next-btn {
  background-color: rgb(255, 140, 0);
  width: 27%;
  padding: 6px;
  transition: 0.1s;
  text-align: center;
  margin-left: 6px;
  border-radius: 4px;
  font-weight: 550;
  cursor: pointer;
}
.next-btn:hover {
  background-color: rgba(255, 140, 0, 0.8);
}
.cancel-btn:hover {
  background-color: #151b25;
}
.cancel-btn {
  border: 1px solid #21262d;
  background-color: #0d1117;
  width: 27%;
  padding: 6px;
  transition: 0.1s;
  text-align: center;
  margin-right: 6px;
  border-radius: 4px;
  font-weight: 550;
  cursor: pointer;
}

.partOne{
  overflow: hidden;
  display:block;
  width:100%;
}

.partThree{
  overflow: hidden;
  display: none;
  width: 0;
}
.partFour{
  overflow: hidden;
  display:none;
  width: 0;
}

.partTwo{
  display: none;
  width: 0;
  overflow: hidden;
}

.box1{
  width: 60%;
  text-align: justify;
  padding:10px;
  font-size: 120%;
}
.box2{
   width: 40%;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content:center;
}

.custom-checkbox input[type="checkbox"] {
  /* Hide the default checkbox */
  opacity: 0;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 2px solid gray;
  margin-right: 1px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 1.3px;
  width: 6px;
  height: 12px;
  border: solid orange;
  border-width: 0 2px 2px 0;
  transition: 0.4s;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}



