@media screen and (min-width: 701px) {
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    background-color:#0d1117;
    color: #ffffff;
  }

  .main_body {
    display: none;
  }

  .main_container {
    display: flex;
    flex-direction: row;
    width: 72%;
    height: 0;
    margin-left: 28%;
    margin-top: 52px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    background-color: transparent;
  }

  .container_AA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container_A {
    width: 58%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .container_A_1 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .container_A_1_1 {
    width: 20%;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color:#161b22 ;
    border: 1px solid #21262d;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .container_A_1_3 {
    width: 45%;
    height: auto;
    border: 1px solid #21262d;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-evenly;
    background-color: #161b22;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .container_A_1_2 {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 4px;
    padding: 6px;
    background-color: #0d1117;
    box-shadow: 0px 0px 2px #000000;
  }

  .container_A_1_1_1 {
    width: auto;
    height: auto;
    color: white;
    background-color: transparent;
    font-size: 150%;
    padding: 6px;
  }

  .container_A_1_1_2 {
    width: auto;
    height: auto;
    color: white;
    border-radius: 3px;
    background-color: gray;
    font-size: 90%;
    padding: 6px 10px;
    box-shadow: 0px 0px 2px #000000;
  }

  .container_A_2 {
    width: 100%;
    height: auto;
    padding: 6px 2px;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
  }

  .container_A_2_1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 6px;
    margin-bottom: 10px;
    background-color: transparent;
  }

  .fonts_holder {
    width: 30%;
    display: flex;
    background-color: #0d1117;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 4px;
    height: auto;
    font-size: 80%;
    outline:  1px solid #21262d;
  }

  .text_holder {
    padding: 6px;
  }

  select {
    border: none;
    accent-color: #161b22;
    background-color: #0d1117;
    color: white;
    font-size: 90%;
  }

  .container_A_2_2 {
    width: 100%;
    padding: 10px;
    height: auto;
    margin-top: 10px;
    background-color: #161b22;
    border: 1px solid #21262d;
    border-radius: 4px;
    transition: 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-direction: column;
  }
  .event_d {
    font-size: 95%;
    display: flex;
    flex-direction: column;
    color: gray;
    letter-spacing: 2px;
    justify-content: space-between;
    padding: 10px;
  }
  .event_d2 {
    display: flex;
    flex-direction:row;
    letter-spacing: 2px;
    justify-content: space-between;
  }

  .container_B {
    width: 38%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    height: auto;
    background-color: transparent;
  }

  .container_B_1 {
    width: 100%;
    height: 300px;
    padding: 0;
    margin-bottom: 10px;
    background-color: #161b22;
    box-shadow: 0px 0px 2px #000000;
    border: 1px solid #21262d;
    border-radius: 6px;
  }
  .container_D_1 {
    transition: 0.7s;
    width: 100%;
    height: auto;
    border: 1px solid #21262d;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #161b22;
    box-shadow: 0px 0px 2px #000000;
  }
  .container_B_1_1 {
    background: #161b22;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .container_D_1_1 {
    background: #0d1117;
    border-radius: 6px;
    text-shadow: 2px 2px 50px #000000;
  }

  .container_head {
    width: 100%;
    background-color: #161b22;
    height: 48px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 50px;
    overflow: hidden;
    top: 0;
    padding: 4px;
    left: 0;
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    justify-content: space-between;
  }

  .header_box {
    width: 30%;
    height: 38px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .log_out {
    cursor: pointer;
    width: auto;
    text-align: center;
    border-radius: 2px;
    border: none;
    letter-spacing: 2px;
    transition: 0.4s;
    font-size: 85%;
    border: 1px solid #21262d;
    overflow: hidden;
    background-color: #0d1117;
    padding: 6px;
    box-shadow: 0px 0px 3px #000000;
  }

  .log_out:hover {
    outline: 1px solid slateblue;
  }

  .user_avator {
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 85%;
    letter-spacing: 2px;
    width: auto;
  }

  .pic {
    height: 35px;
    width: 35px;
    background-color: #0d1117;
    border-radius: 50%;
  }

  .user_name {
    padding: 8px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  ::-webkit-scrollbar-thumb {
    background-color: gray;
    padding: 2px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .settings {
    position: fixed;
    display: flex;
    left: 50%;
    bottom: 25px;
    transform: translate(-50%, 50%);
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    width: 42%;
    height: auto;
    box-shadow: 0px 0px 9px #000000;
    background-color: #161b22;
    border: 1px solid #21262d;
  }

  .settings:hover {
    outline: 1px solid slateblue;
  }

  .settings_box {
    cursor: pointer;
    width: auto;
    text-align: center;
    border-radius: 3px;
    letter-spacing: 2px;
    transition: 0.4s;
    margin: 5px;
    font-size: 85%;
    overflow: hidden;
    padding: 8px;
    background-color:#0d1117;
    border: 1px solid #21262d;
  }

  #qs1 {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background-color: #0d1117;
  }

  #qs2 {
    width: 100%;
    border: none;
    box-shadow: 0px 0px 2px #000000;
  }

  .settings_container {
    width: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 3px #000000;
    position: fixed;
    right: 0;
    top: 48px;
    overflow-x: visible;
    background-color: rgb(13, 23, 33);
    box-shadow: 0px 0px 3px #000000;
  }

  .test_history_header {
    width: 100%;
    padding: 8px;
    border-bottom: 3px solid slateblue;
    font-size: 85%;
    letter-spacing: 3px;
    box-shadow: 0px 0px 3px #000000;
    background-color: rgb(13, 23, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .test_history_holder {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgb(13, 23, 33);
  }

  .test_history_box {
    width: 100%;
    height: auto;
    font-size: 85%;
    letter-spacing: 2px;
    border-right: 1px solid slateblue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px #000000;
    background-color: rgb(13, 23, 33);
  }

  .test_history_box1 {
    width: 100%;
    height: auto;
    border-bottom: 1px solid slateblue;
    padding: 5px;
    font-size: 85%;
  }

  .issue_holder1 {
    width: 100%;
    text-align: center;
    height: auto;
    padding: 8px;
    box-shadow: 0px 0px 1px #000000;
    background-color: transparent;
    font-size: 85%;
    letter-spacing: 2px;
  }

  .issue_holder2 {
    max-width: 70%;
    height: auto;
    padding: 8px;
    right: 5px;
    box-shadow: 0px 0px 1px #000000;
    background-color: #0d1117;
    font-size: 85%;
    position: absolute;
    margin-top: 10px;
    border-radius: 3px;
    letter-spacing: 2px;
  }

  .issue_holder3 {
    max-width: 70%;
    height: auto;
    padding: 8px;
    left: 5px;
    box-shadow: 0px 0px 1px #000000;
    background-color: #0d1117;
    font-size: 85%;
    position: absolute;
    margin-top: 30px;
    border-radius: 3px;
    letter-spacing: 2px;
  }

  .issue_input {
    position: absolute;
    bottom: 0;
    box-shadow: 0px 0px 5px #000000;
    padding: 8px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .asked_q {
    width: 100%;
    font-size: 85%;
    height: auto;
    box-shadow: 0px 0px 2px #000000;
    padding: 10px;
    margin-bottom: 10px;
  }

  .ask {
    width: auto;

    height: auto;
    box-shadow: 0px 0px 2px #000000;
    transition: 0.3s;
    font-size: 85%;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    background-color: #0d1117;
  }

  .ask_holder {
    width: 0%;
    position: absolute;
    height: auto;
    box-shadow: 0px 0px 9px #000000;
    overflow: hidden;
    right: 100%;
    transition: 0.3s;
    z-index: 80;
    top: 30%;
    font-size: 85%;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(13, 23, 33);
  }

  .question_holder {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
  }

  .ask:hover {
    outline: 1px solid slateblue;
  }

  .price_box {
    cursor: pointer;
    width: auto;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 1px;
    border: none;
    transition: 0.4s;
    font-size: 80%;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 0px 3px #000000;
  }

  .price_box:hover {
    outline: 1px solid slateblue;
  }

  .settings_box:hover {
    outline: 1px solid slateblue;
  }

  .counters {
    padding: 4px;
  }

  .counters2 {
    padding: 4px;
  }

  .options {
    width: 75%;
    height: 0;
    display: block;
    box-shadow: 0px 0px 3px #000000;
    background-color: rgb(13, 23, 33);
    position: fixed;
    top: 45px;
    overflow: hidden;
    transition: 0.2s;
    right: 4px;
  }

  .options_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    border-bottom: 3px solid slateblue;
  }

  .options_header_box {
    width: 40%;
    padding: 10px;
    height: 80px;
  }

  .closee {
    float: right;
    box-shadow: 0px 0px 3px #000000;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 2px;
    right: 20px;
  }

  .closee5 {
    float: right;
    box-shadow: 0px 0px 3px #000000;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 2px;
    right: 20px;
  }

  .closee6 {
    float: right;
    box-shadow: 0px 0px 3px #000000;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 2px;
    right: 20px;
  }

  .closee1 {
    float: right;
    box-shadow: 0px 0px 3px #000000;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 2px;
    right: 20px;
  }

  .closee:hover {
    outline: 1px solid slateblue;
  }

  .closee5:hover {
    outline: 1px solid slateblue;
  }

  .closee1:hover {
    outline: 1px solid slateblue;
  }

  .closee6:hover {
    outline: 1px solid slateblue;
  }

  .token_container {
    width: 100%;
    height: auto;
    justify-content: space-around;
    display: flex;
    overflow: hidden;
    padding: 16px;
    flex-direction: row;
    box-shadow: 0px 0px 3px #000000;
  }

  .tagg {
    color: gray;
  }

  .token_holder {
    width: 28%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0px 0px 3px #000000;
    background-image: linear-gradient(
      to top right,
      #020412 20%,
      #383235 40%,
      #04071c 70%
    );
  }

  .token_holder_1 {
    font-size: 80%;
    padding: 10px;
    text-align: center;
    letter-spacing: 3px;
  }

  .token_holder_2 {
    font-size: 80%;
    padding: 15px;
    position: relative;
    height: auto;
    background-color: rgb(13, 23, 33);
    width: 100%;
    height: 270px;
    text-align: center;
    letter-spacing: 3px;
  }

  .token_holder:hover {
    box-shadow: 10px 10px slateblue;
  }

  .star_holder {
    padding: 10px;
    text-align: center;
  }

  .price_holder {
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .tickett1 {
    position: absolute;
    left: 5px;
    top: 20px;
    color: yellowgreen;
  }

  .tickett2 {
    position: absolute;
    left: 15px;
    color: slateblue;
    top: 20px;
  }

  .tickett3 {
    position: absolute;
    top: 20px;
    left: 25px;
    color: #ed143d;
  }

  .tickett4 {
    position: absolute;
    left: 35px;
    top: 20px;
    color: slateblue;
  }

  .tickett5 {
    position: absolute;
    top: 20px;
    left: 45px;
    color: yellowgreen;
  }

  .options_notf {
    width: 25%;
    height: 0;
    display: block;
    box-shadow: 0px 0px 12px #000000;
    background-color: rgb(13, 23, 33);
    position: fixed;
    overflow: hidden;
    top: 47px;
    z-index: 30;
    transition: 0.2s;
    right: 25%;
  }

  .options_comments {
    width: 25%;
    height: 0;
    display: block;
    box-shadow: 0px 0px 12px #000000;
    background-color: rgb(13, 23, 33);
    position: fixed;
    overflow: hidden;
    top: 47px;
    z-index: 30;
    transition: 0.2s;
    right: 20%;
  }

  .comment_header {
    padding: 3px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid slateblue;
    justify-content: space-between;
  }

  .comment_body {
    padding: 9px;
    overflow: scroll;
    max-height: 0;
  }

  .comment_holder {
    border-radius: 5px;
    background-color: #0d1117;
    padding: 6px;
    font-size: 90%;
    margin: 10px;
    max-width: 230px;
    border-left: 4px solid slateblue;
    box-shadow: 0px 0px 2px #000000;
  }

  .comment_holder2 {
    border-radius: 5px;
    background-color: #0d1117;
    padding: 6px;
    font-size: 90%;
    margin-left: 150px;
    margin-top: 8px;
    max-width: 230px;
    border-right: 4px solid yellowgreen;
    box-shadow: 0px 0px 2px #000000;
  }

  .write_coment_holder {
    width: 100%;
    overflow: hidden;
    top: 0px;
    z-index: 100;
    transition: 0.2s;
    position: absolute;
    max-height: 0;
    box-shadow: 1px 1px 20px #000000;
    background-color: rgb(13, 23, 33);
  }

  .write_coment_header {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid slateblue;
  }

  .write_coment_body {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .edit3 {
    padding: 8px;
    font-size: 80%;
    letter-spacing: 2px;
    width: 100%;
    color: white;
    border: 1px solid #21262d;
    background-color: #161b22;
    box-shadow: 0px 0px 2px #000000;
    border-radius: 4px;
  }

  .edit3:hover {
    outline: 1px solid slateblue;
  }

  .options_player {
    width: 20%;
    height: 0;
    box-shadow: 0.5px 0.5px 8px #000000;
    border: none;
    background-color: #161b22;
    position: fixed;
    overflow: hidden;
    top: 50px;
    transition: 0.2s;
    right: 10%;
  }

  .options_logout {
    width: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 8px #000000;
    background-color: rgb(13, 23, 33);
    position: fixed;
    overflow: hidden;
    top: 49px;
    z-index: 121;
    transition: 0.1s;
    right: 0;
  }

  .options_logout_1 {
    padding: 8px;
    font-size: 80%;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
  }

  .options_logout_1_1 {
    cursor: pointer;
    width: 80px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 2px;
    border: none;
    transition: 0.4s;
    margin: 5px;
    font-size: 85%;
    overflow: hidden;
    padding: 8px;
    box-shadow: 0px 0px 3px #000000;
  }

  .options_logout_1_1:hover {
    outline: 1px solid slateblue;
  }

  .leaderboard_hider {
    width: 0;
    background-color: #000000;
    opacity: 0.9;
    position: fixed;
    overflow: hidden;
    z-index: 5;
    transition: 0.2s;
    top: 46px;
    height: 100vh;
    box-shadow: 0px 0px 3px #000000;
  }
  .leaderboard_hider_content {
    padding: 10px;
  }
  .leaderboard_hider_header {
    text-align: center;
    padding: 8px;
    letter-spacing: 3px;
    box-shadow: 0px 0px 5px #000000;
    font-size: 80%;
  }
  .leaderboard_hider_body {
    padding: 8px;
    letter-spacing: 3px;
    box-shadow: 0px 0px 5px #000000;
    font-size: 80%;
  }

  @keyframes ticketts {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(360deg);
    }
  }

  .tickettss {
    animation-name: ticketts;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    display: inline-block;
  }

  .des1 {
    text-align: center;
    font-size: 80%;
    letter-spacing: 2px;
    box-shadow: 0px 0px 2px #000000;
    padding: 8px;
  }

  .aow_holder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background-color: transparent;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  .log_out_hider {
    position: fixed;
    width: 0;
    z-index: 120;
    height: 100vh;
    background-color: #000000;
    opacity: 0.8;
    top: 0;
    left: 0;
  }

  ::selection {
    color: #fff;
    background: transparent;
  }

  .wrapper {
    border-radius: 4px;
    background-color: #0d1117;
  }

  .wrapper .input-field {
    opacity: 0.9;
    z-index: -999;
    position: absolute;
  }
  .wrapper:hover {
    outline: 1px solid white;
  }

  .wrapper .content-box {
    padding: 12px;
  }

  .content-box .typing-text {
    overflow: hidden;
  }

  .typing-text::-webkit-scrollbar {
    width: 0;
  }

  .typing-text p {
    font-size: 90%;
    text-align: justify;
    letter-spacing: 1px;
  }

  .typing-text p span {
    position: relative;
  }

  .typing-text p span.correct {
    color: rgba(211, 255, 51, 1);
  }

  .typing-text p span.incorrect {
    color: red;
  }

  .typing-text p span.active {
    color: dodgerblue;
  }

  .typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
  }

  .content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
  }

  .content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
  }

  .result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
  }

  .result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 1px solid #bfbfbf;
  }

  .result-details li p {
    font-size: 19px;
  }

  .result-details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
  }

  li span b {
    font-weight: 500;
  }

  li:not(:first-child) span {
    font-weight: 500;
  }

  #reshulf {
    background-color: #0d1117;
    border: 1px solid #21262d;
    font-size: 85%;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
  }

  #reshulf:hover {
    outline: 1px solid slateblue;
  }

  #user_profile {
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    letter-spacing: 2px;
    width: 100%;
  }

  .user_box {
    text-align: center;
    width: 100%;
    background-color: #0d1117;
    height: auto;
    border-radius: 4px;
    padding: 12px;
  }

  .ico {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .manage_account {
    padding: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
    text-align: center;
    font-size: 90%;
    box-shadow: 0px 0px 3px #000000;
    letter-spacing: 2px;
    margin-top: 5px;
    border-radius: 3px;
  }

  .manage_account:hover {
    outline: 1px solid slateblue;
  }

  .manage_account_holder {
    width: 0%;
    position: fixed;
    height: auto;
    box-shadow: 0px 0px 9px #000000;
    transition: 0.2s;
    z-index: 100;
    right: 30%;
    overflow: hidden;
    top: 20%;
    border: none;
    font-size: 80%;
    z-index: 90;
    border-radius: 3px;
    cursor: pointer;
    background-color:#0d1117;
  }

  .manage_account_header {
    padding: 8px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid slateblue;
    letter-spacing: 2px;
    font-size: 90%;
  }

  .manage_account_body {
    padding: 12px;
    width: 100%;
    letter-spacing: 2px;
    overflow: hidden;
    font-size: 80%;
  }

  .manage_account_footer {
    padding: 12px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 110%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .edit1 {
    width: 100%;
    border: 1px solid #21262d;
    background-color: #161b22;
    padding: 8px;
    color: white;
    outline: none;
    margin-bottom: 18px;
    border-radius: 3px;
  }

  .edit2 {
    width: 100%;
    border: none;
    background-color: #0d1117;
    padding: 10px;
    color: white;
    outline: none;
    margin-bottom: 18px;
    border-radius: 3px;
  }

  .change_pass {
    width: 100%;
    position: absolute;
    max-height: 0;
    box-shadow: 1px 1px 20px #000000;
    right: 0%;
    transition: 0.3s;
    overflow: hidden;
    z-index: 200;
    opacity: 0;
    bottom: 0;
    font-size: 70%;
    z-index: 90;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(13, 23, 33);
  }

  .change_pass_header {
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid slateblue;
    letter-spacing: 2px;
    font-size: 120%;
  }

  .change_pass_footer {
    padding: 10px;
    overflow: hidden;
    width: 100%;
    letter-spacing: 2px;
    font-size: 150%;
  }

  .change_pass_body {
    padding: 12px;
  }

  .pro_text {
    padding: 6px;
    display: flex;
    font-size: 80%;
    letter-spacing: 3px;
    justify-content: space-between;
    border-bottom: 1px solid slateblue;
  }

  @keyframes alertss {
    0% {
      top: -110px;
      left: 40%;
    }

    50% {
      top: 120px;
      left: 40%;
    }

    100% {
      top: -110px;
      left: 40%;
    }
  }

  .animated {
    animation-name: alertss;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-delay: 0.5s;
  }

  .alerts {
    display: inline-block;
    z-index: 130;
    width: 20%;
    height: 80px;
    padding: 8px;
    font-size: 90%;
    top: -120px;
    left: 40%;
    border-bottom: 2px solid slateblue;
    background-color: rgb(13, 23, 33);
    box-shadow: 1px 1px 4px #000000;
    position: absolute;
  }
  .cont_holder {
    display: flex;
    justify-content: center;
    padding: 8px;
    flex-direction: row;
  }
  .cont_btn {
    width: 80px;
    text-align: center;
    box-shadow: 0px 0px 5px #000000;
    font-size: 80%;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 5px;
  }
  .cont_btn:hover {
    outline: 1px solid slateblue;
  }

  .tips {
    position: fixed;
    width: 42%;
    background-color: #161b22;
    border-radius: 6px;
    height: auto;
    transform: translate(-50%, 30%);
    color: #ffffff;
    font-size: 90%;
    overflow-y: visible;
    margin: auto;
    display: none;
    transition: 1s;
    top: 15%;
    left: 50%;
    box-shadow: 14px 14px 50px #000000;
    border : 1px solid #21262d;
  }
  .tips1 {
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 170px;
    border-bottom: 1px solid slateblue;
    top: -29px;
    height: 30px;
    border-top-right-radius: 5px;
    border-top-left-radius: 4px;
    border : 1px solid #21262d;
    background-color: #161b22;
  }
  .tips2 {
    width: 100%;
    letter-spacing: 3px;
    height: 100%;
    line-height: 38px;
    padding: 12px;
    background-color: #0d1117;
  }

  .switch-holder {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1117;
  }

  .switch-label {
    width: 150px;
  }

  .switch-label i {
    margin-right: 5px;
  }

  .switch-toggle {
    height: 40px;
  }

  .switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
  }

  .switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 38px;
    border-radius: 20px;
    margin: 0;
    border: 1px solid slateblue;
    cursor: pointer;
  }

  .switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: "OFF";
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    color: black;
  }

  .switch-toggle input[type="checkbox"]:checked + label::before {
    left: 50%;
    content: "ON";
    color: #fff;
    background-color: slateblue;
  }

  input[type="file"] {
    padding: 10px;
    background-color: #0d1117;
    width: 100%;
  }

  .disNan {
    display: none;
  }


  .loader2 {
    border: 4px solid slateblue;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 25px;
    margin: auto;
    height: 25px;
    animation: spin 0.7s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .leaderboard_container {
    display: flex;
    width: 27%;
    border-radius: 8px;
    flex-direction: column;
    position: fixed;
    border: 1px solid #21262d;
    background-color: #161b22;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:52px;
    left: 4px;
    color: #ffffff;
    justify-content: start;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    

  }

  .leaderboardHead {
    padding: 4px;
  }
  .leaderboardBody {
    height: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
  }
  .userBox {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#0d1117;
    margin: 3px;
    transition: 0.2s;
    width: 98%;
    border-radius: 4px;
    font-size : 90%; 
    border: 1px solid #21262d;
  }
  .rankLB {
    width: 15%;
    padding: 5px;
    color: gray;
    text-align: center;
    border-radius: 30%;
  }
  .firstnameLB {
    width: 37%;
    color:  rgba(202, 193, 193, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
    padding: 5px;
  }
  .wpmLB {
    width: 14%;
    padding: 5px;
    color: gray;
    text-align: center;
  }
  .charLB {
    width: 15%;
    padding: 5px;
    text-align: center;
    color: rgba(202, 193, 193, 0.9);
  }
  .mistLB {
    width: 19%;
    padding: 5px;
    color: gray;
    text-align: center;
    border-radius: 20%;
    overflow: hidden;
  }

  .timerMainBox {
    width: 100%;
    border-radius: 6px;
    height: auto;
    background-color: #161b22;
    border: 2px solid #21262d;
    box-shadow: 8px 8px #0d1117;
    justify-content:start;
    margin: auto;
    flex-direction: column;
    display: flex;
  }

  .timerSubBox {
    width: 23%;
    text-align: center;
    color: white;
    justify-content: space-evenly;
    box-shadow: 8px 8px #0d1117;
    height: 84px;
    border: 1px solid #21262d;
    border-radius: 5px;
    padding: 1px;
    background-color: #0d1117;
    margin: 3px;
    display: flex;
    flex-direction: column;
  }
  .timerHead {
    text-align: center;
    padding: 10px;
    color: white;
    letter-spacing: 5px;
  }
  .timerBody {
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
  #mistakeError{
    text-align: center;
    font-size: 90%;
    color: red;
  }
}
