* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
body {
  background-color: #0d1117;
  font-size: var(--body-font-size, 14px);
  line-height: 1.3;
  color: #ffffff;
  overflow: hidden;
}
.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding: 6px;
  justify-content: start;
}
.container-new-acc {
  background-color: transparent;
  font-size: 95%;
  border: 1px solid #21262d;
  text-align: center;
  padding: 10px;
  width: 65%;
  border-radius: 6px;
  margin: auto;
}
.container-error {
  font-size: 90%;
  border: 1px solid rgba(255, 0, 4, 0.5);
  background-color: rgba(255, 0, 100, 0.1);
  padding: 8px;
  width: 65%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: none;
  margin: auto;
}
.container-logo {
  text-align: center;
  width: 50%;
  border-radius: 6px;
  margin: auto;
}
h1 {
  font-size: 20px;
  font-weight: 450;
  margin: 5px;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 450;
  text-align: center;
  border-bottom: 1px solid #21262d;
  margin-bottom: 15px;
}

form {
  margin: auto;
  background-color: #161b22;
  display: flex;
  border: 1px solid #21262d;
  padding: 15px;
  width: 65%;
  border-radius: 6px;
}
input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 5px;
  outline: none;
  border: none;
  color: #ffffff;
  border: 1px solid #21262d;
  background-color: #0d1117;
}
input:focus {
  outline: 1px solid rgb(255, 140, 0);
}

input[type="submit"] {
  background-color: rgb(255, 140, 0);
  color: white;
  margin-top: 13px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 13px;
  border: none;
  font-weight: 700;
}
input[type="submit"]:hover {
  background-color: rgba(255, 140, 0, 0.8);
}
.link-color {
  color: dodgerblue;
  cursor: pointer;
  text-decoration: none;
  font-size: 95%;
}
footer {
  height: 50px;
  display: flex;
  padding-top: 8px;
  width: 25%;
  margin: auto;
  justify-content: space-evenly;
}
.sub-footer {
  height: 50px;
  padding-top: 5px;
  color: gray;
  display: flex;
  justify-content: center;
}
.loading {
  position: absolute;
  top: 30%;
  left: 49%;
  display: none;
  z-index: 100;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #415c81;
  background-color: #1b283a;
}
.fade {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.next-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  width: 100%;
}
.next-btn {
  background-color: rgb(255, 140, 0);
  width: 23%;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: 550;
  cursor: pointer;
}
.next-btn:hover {
  background-color: rgba(255, 140, 0, 0.8);
}
.firstForm {
  width: 100%;
  overflow: hidden;
  padding: 1px;
  display: block;
  transition: 0.2s;
}
.secondForm,
.thirdForm,
.fourthForm,
.fiveForm {
  overflow: hidden;
  transition: 0.2s;
  width: 0;
  padding: 1px;
  display: none;
}

.custom-checkbox input[type="checkbox"] {
  /* Hide the default checkbox */
  opacity: 0;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 2px solid gray;
  margin-right: 1px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 1.3px;
  width: 6px;
  height: 12px;
  border: solid orange;
  border-width: 0 2px 2px 0;
  transition: 0.4s;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}
