{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/terms.css' %}" />
    <title>Privacy policy</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <h4>Text<span style="color: orange">Tornado</span></h4>
    </div>
    <div class="main_container">
      <div class="container">
        <div class="container_sub">
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom1"
              >Website Visitors</a
            >
          </p>
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom2"
              >Aggregated Statistics</a
            >
          </p>
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom3"
              >Protection of Certain Personally–Identifying Information</a
            >
          </p>
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom4"
              >Security of Your Personally–Identifying Information</a
            >
          </p>
        </div>
        <div class="getStarted">
          <h5><a href="https://www.capsulcode.tech/"> Capsulcode Tech</a></h5>
          <br />
          <p><span>Terms of use</span> | <span>privacy policy</span></p>
        </div>
      </div>
      <div class="containerB">
        <div class="header_container">
          <h3>Privacy Policy</h3>
          <br />
          <p>
            Your privacy is critically important to us. At texttornado.com we
            have a few fundamental principles:
          </p>
          <ul>
            <li>
              We refrain from requesting personal information unless it is
              absolutely essential for the provision of our services.
            </li>
            <li>
              We do not disclose your personal information to any third party
              except when required by legal obligations, for the purpose of
              product development, or to safeguard our legal rights
            </li>
            <li>
              We refrain from retaining personal information on our servers
              unless it is necessary for the continuous operation of our
              services.
            </li>
          </ul>
        </div>
        <a id="bottom1"></a>
        <div class="header_container">
          <h3>Website Visitors</h3>
          <br />
          <p>
            Similar to many website operators, texttornado.com gathers
            non-personally-identifying information typically made available by
            web browsers and servers. This information includes details such as
            browser type, language preferences, referring sites, and the
            timestamps of visitor requests. The primary objective of collecting
            non-personally identifying information is to gain insights into the
            patterns and behaviors of texttornado.com's website visitors.
            Periodically, texttornado.com may aggregate and release this
            non-personally-identifying information, such as by publishing
            reports on website usage trends.
          </p>
          <br />
          <p>
            Additionally, texttornado.com collects potentially
            personally-identifying information, including Internet Protocol (IP)
            addresses. It is important to note that texttornado.com does not
            employ this information for visitor identification purposes and
            refrains from disclosing it, except under the same circumstances as
            it would use and disclose personally-identifying information, as
            described below
          </p>
        </div>
        <div class="header_container">
          <a id="bottom2"></a>
          <h3>Aggregated Statistics</h3>
          <br />
          <p>
            texttornado.com may collect statistics about the behavior of
            visitors to its websites. For instance, texttornado.com may monitor
            the most popular pages on this site. texttornado.com may display
            this information publicly or provide it to others. However,
            texttornado.com does not disclose personally–identifying information
            other than as described below.
          </p>
        </div>
        <a id="bottom3"></a>
        <div class="header_container">
          <h3>Protection of Certain Personally–Identifying Information</h3>
          <br />
          <p>
            At texttornado.com, safeguarding your personally-identifying
            information is of paramount importance to us. We collect and process
            this information only as necessary to fulfill the purposes for which
            it was collected, and we do not disclose such information to third
            parties, except as described in our Privacy Policy. Our commitment
            is to maintain the confidentiality, security, and integrity of your
            personally-identifying information, taking appropriate measures to
            protect it from unauthorized access, use, or disclosure. Rest
            assured that your data privacy is a top priority as we strive to
            provide a secure and trustworthy online experience on
            texttornado.com.
          </p>
        </div>
        <a id="bottom4"></a>
        <div class="header_container">
          <h3>Security of Your Personally–Identifying Information</h3>
          <br />
          <p>
            At texttornado.com, we are dedicated to ensuring the security of
            your personally-identifying information. We employ industry-standard
            security measures to safeguard your data from unauthorized access,
            use, alteration, or disclosure. Our commitment to data security
            includes encryption, access controls, and regular security
            assessments. However, it's important to remember that no method of
            transmission or storage over the internet is entirely secure, and
            while we strive to protect your personally-identifying information,
            we cannot guarantee absolute security. By using texttornado.com, you
            acknowledge and accept this inherent risk, and we encourage you to
            take appropriate precautions to protect your own information. If you
            have any concerns about the security of your data, please contact
            us, and we will make every effort to address your inquiries promptly
            and effectively.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
