{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/resetPassword.css' %}" />
    <title>TextTornado | reset password</title>
  </head>
  <body>
    <div class="fade"></div>
    <div class="container">
      <div class="loading">
        <img
          src="/images/loading.gif"
          style="width: 40px; height: 40px; border-radius: 50%"
        />
      </div>
      <div>
        <br />
        <div class="container-logo">
          <img
            src="/images/logo.png"
            alt="logo"
            style="
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: auto;
              border: 1px solid #415c81;
              background-color: #1b283a;
            "
          />
        </div>
        <h1>Text<span style="color: rgb(255, 140, 0)">Tornado</span></h1>
        <div class="container-error">
          <i class="fas fa-exclamation-triangle" style="color: red"></i> &nbsp;
          <span id="error"></span>
        </div>
        <form id="form">
          <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
          <div class="partOne">
            <div class="formDivision">
              <h2>Find your account</h2>
            </div>
            <div class="formDivision2">
              <label for="number">
                Please enter your mobile number to search for your
                account</label
              >
              <br />
              <input type="number" id="number" placeholder="mobile number" />
              <br />
            </div>
            <div class="formDivision3">
              <div class="next-holder">
                <div class="cancel-btn">Cancel</div>
                <div class="next-btn">Search</div>
              </div>
            </div>
          </div>

          <div class="partTwo">
            <div class="formDivision">
              <h2>Reset your password</h2>
            </div>
            <div class="formDivision2" style="display: flex">
              <div class="box1">
                <p>
                  Send verification<br> code via SMS<br> <span id="num"></span>
                </p>
              </div>
              <div class="box2">
                <img src="/images/user_default_pic_x6puuUx.jpg" alt="image" style="width:70px; height:70px; border-radius:50%" id="img"/>
                <p id="username">xxx-xxx</p>
                <p style="color:gray; font-size:90%">TextTernado user</p>
              </div>
            </div>
            <div class="formDivision3">
              <div class="next-holder">
                <div class="cancel-btn">Not you?</div>
                <div class="next-btn">Continue</div>
              </div>
            </div>
          </div>

          <div class="partThree">
            <div class="formDivision">
              <span
              >a 6-digit verification code has been sent to
              <span id="num2"></span>. Don’t see the text message?
              <span class="link-color resend">Send a new code</span>
            </span>
            </div>
            <div class="formDivision2">
              <label>Enter code</label> <br>
              <input type="number" id="numberCode"/>
            </div>
            <div class="formDivision3">
              <div class="next-holder">
                <div class="next-btn">Verify</div>
              </div>
            </div>
          </div>

          <div class="partFour">
            <div class="formDivision">
             <h2>Set new password</h2>
            </div>
            <div class="formDivision2">
              <label>Create a strong password, At least 8 characters</label> <br>
              <input type="password" id="password"/> <br>
              <div>
                <label class="custom-checkbox"
                  ><input type="checkbox" id="checkbox" /><span
                    class="checkmark"
                  ></span
                ></label>
                <label for="checkbox"><sup>show password</sup></label>
              </div>
            </div>
            <div class="formDivision3">
              <div class="next-holder">
                <div class="next-btn">Save</div>
              </div>
            </div>
          </div>
        </form>

        <br />
        <div class="container-new-acc">
          <span>New to TextTornado?</span>
          <span
            ><a href="{% url 'ttd_user_signin'%}" class="link-color"
              >Create an account</a
            ></span
          ><span>.</span>
        </div>
      </div>
    </div>
    <footer>
      <p class="link-color">Terms</p>
      <p class="link-color">Privacy</p>
      <p style="color: grey; font-size: 80%">contant TextTernado Support</p>
    </footer>
    <div class="sub-footer">
      <p>@ capsualcode 2023</p>
    </div>
    <script src="{% static 'js/resetPassword.js' %}"></script>
  </body>
</html>
