{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>texttornado | capsulcode technologies</title>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />

    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ttd_user_home_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tablet_home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/ttd_user_home_style_mobile.css' %}"
    />
  </head>
  {% for x in player_d%}

  <body
    data-username="{{x.username}}"
    data-ttd-id="{{x.player_id}}"
    data-number="{{x.number}}"
    id="body"
  >
    {% endfor %}
    <div class="loader">
      <div class="pl">
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__dot"></div>
        <div class="pl__text">Loading…</div>
      </div>
    </div>
    <div class="main_body">
      <div class="StickyFooter">
        <i class="fas fa-sync rotate"></i>
        <p>leaderboard : <span id="leaderboard_status"></span></p>
        <p id="keyOutput"></p>
        <p id="capsOutput"></p>
        <p>status : <span id="actionStatus"></span></p>
        <p id="location"></p>
        <p id="country"></p>
        <p id="city"></p>
        <p id="district"></p>
        <p id="Netoutput"></p>
        <p id="batOutput"></p>
      </div>
      <div class="outOfTicketsHolder">
        <div class="outOfTicketsHead">
          <h2>You don't have enough tickets.</h2>
          <p style="line-height: 25px">
            Purchase your favorite pack of tickets to join typing events. Don't
            miss the event you can have a ticket with only MK500.
          </p>
        </div>
        <div class="outOfTicketsBody">
          <div class="next-holder">
            <div class="cancel-btn">Cancel</div>
            <div class="next-btn">
              <i class="fas fa-shopping-cart"></i> Buy tickets
            </div>
          </div>
        </div>
      </div>

      <div class="outOfTicketsHolder">
        <div class="outOfTicketsHead">
          <h2>You can't start now.</h2>
          <p style="line-height: 25px">
            Typing event is almost over, for that your are not allowed to take a
            typing test.
          </p>
        </div>
        <div class="outOfTicketsBody">
          <div class="cancel-btnn">Cancel</div>
        </div>
      </div>

      <div class="choosePaymet">
        <div class="loading">
          <img
            src="/images/loading.gif"
            style="width: 40px; height: 40px; border-radius: 50%"
          />
        </div>
        <div class="choosePaymentHead">
          <h2>Payment Details</h2>
        </div>
        <div class="choosePaymentBody">
          <div class="choosePaymentBodyA">
            <img
              src="/images/Airtel.png"
              style="width: 70%; height: 100px; border-radius: 5px"
            />
          </div>
          <div class="choosePaymentBodyB">
            <p>Tickets : &nbsp;<span id="numberOfTickets"></span></p>
            <p>Amount :&nbsp;<span>MKW</span><span id="amount"></span></p>
            <p>Payment method :&nbsp;<span>Airtel money</span></p>
            <p>Phone number :&nbsp;<span id="newAirtel"></span></p>

            <p>Type :&nbsp;<span id="typeOfTickets"></span></p>
          </div>
        </div>
        <div class="choosePaymentHead">
          <div class="next-holder">
            <div class="cancel-btn">Back</div>
            <button class="next-btn">Continue</button>
          </div>
        </div>
      </div>

      <div class="choosePaymet">
        <div class="container-error">
          <i class="fas fa-exclamation-triangle" style="color: red"></i>
          &nbsp;<span id="errors"></span>
        </div>
        <div class="loading">
          <img
            src="/images/loading.gif"
            style="width: 40px; height: 40px; border-radius: 50%"
          />
        </div>
        <div class="choosePaymentHead">
          <h2>Use Airtel Number</h2>
        </div>
        <div class="choosePaymentBody">
          <div class="choosePaymentBodyA">
            {% for x in player_d%}
            <p style="text-align: left; color: gray">
              We only accept payments from Airtel money since you registered
              your account using tnm number
              <span id="newAirtel">{{x.number}}</span>, so enter airtel number
              to continue with the payments.
            </p>
            {% endfor %}
          </div>
          <div class="choosePaymentBodyB">
            <br />
            <br />
            <label for="airtel"> &nbsp; Phone number </label> <br />
            <input
              type="number"
              id="airtel"
              style="
                outline: none;
                border: none;
                padding: 8px;
                width: 100%;
                background: #0d1117;
                color: white;
                border-radius: 4px;
                margin: 2px;
              "
            />
          </div>
        </div>
        <div class="choosePaymentHead">
          <div class="next-holder">
            <div class="cancel-btn">Back</div>
            <div class="next-btn">Continue</div>
          </div>
        </div>
      </div>

      <div class="choosePaymet">
        <div class="loading">
          <img
            src="/images/loading.gif"
            style="width: 40px; height: 40px; border-radius: 50%"
          />
        </div>
        <div class="choosePaymentHead">
          <h2>Enter pin on your phone..</h2>
        </div>
        <div class="choosePaymentBody">
          <div class="choosePaymentBodyA">
            <p style="text-align: left; color: gray">
              Your payment details has been successfully sent for processing at
              the payment provider.
            </p>
            <p style="text-align: left; color: gray">
              You will be notified on your phone to approve the transaction by
              entering your airtel money pin.
            </p>
          </div>
          <div class="choosePaymentBodyB">
            <p><span id="countDown">20</span>&nbsp;<span>S</span></p>
          </div>
        </div>
        <div class="choosePaymentHead">
          <div class="next-holder">
            <button class="next-btn">Cancel</button>
          </div>
        </div>
      </div>

      <div class="welcomeUserHolder">
        <div class="welcomeUserH">
          <h3 style="cursor: pointer">
            Text<span style="color: orange">Tornado</span>
          </h3>

          <p style="font-size: 90%; color: white" id="slogan">
            Where Speed Meets Accuracy: TextTornado's Typing Velocity!
          </p>
        </div>
        <div class="welcomeUserB">
          <div class="partA">
            <p class="rules"></p>
            <br />
            <p class="rules2"></p>
          </div>
          <div class="partB">
            <!--rules here-->
            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>
                Your goal is to type the given text as quick and accurately as
                possible.
              </p>
            </div>
            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>Each challenge has a set time limit of 60 seconds.</p>
            </div>

            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px; margin: 1px"
                />
              </div>

              <p>
                Your score will be based on your Words Per Minute(WPM) typing
                speed. Accurancy is also important, so try to minimize mistakes.
                If you exceeds more than 15 mistakes your typing results will
                not be processed
              </p>
            </div>

            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px; margin: 1px"
                />
              </div>
              <p>
                There will be sets of events where you will be required to type
                the text as shown in the typing area, including punctuations and
                spaces.
              </p>
            </div>

            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>
                After tyiping the texts check the leaderboard to see how you
                rank against other players.
              </p>
            </div>

            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>
                Correctly typed words will turn yellowgreen, and mistakes will
                be highlighted to red. So type carefully as each incorrect
                keystrokes or typo deductes points from your score.
              </p>
            </div>

            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>
                We'll track your progress over time. Use this information to see
                how you're improving by hecking on history section.
              </p>
            </div>

            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>
                If you encounter technical issues or have feedback, contact our
                support team at capsualcode@gmail.com or use support section
                provided.
              </p>
            </div>
            <div class="ruleAndpic">
              <div style="margin-right: 5px">
                <img
                  src="/images/right-arrow.png"
                  style="width: 15px; height: 15px"
                />
              </div>
              <p>
                We take your privacy seriously. Read our privacy policy to
                understand how your data is handled. Most significantly, have
                fun and challenge yourself to become a better typist and win
                rewards at the end of every event.
              </p>
            </div>
          </div>
        </div>
        <div class="welcomeUserF">
          <button class="cancel-btn2">Skip</button>
          <button class="next-btn2">continue to rules</button>
          <button class="next-btn2">continue</button>
        </div>
      </div>

      <div class="welcomeUserHolder">
        <div class="welcomeUserH">
          <h3 style="letter-spacing: 3px; color: orange" id="toAnEnd">
            EVENT DRAWS TO AN END !!!
          </h3>
        </div>
        <div class="eventEndBody">
          <div class="eventEndDivision">
            <br />
            <h5 class="winnerText">WINNER OF LAST EVENT</h5>
            <p style="color: gray; text-align: center; font-size: 90%">
              BASED ON LEADERBOARD HIGH RANK
            </p>
            <br />
            <div class="winnerOutput">
              <div class="winerImg">
                <img
                  src="/images/user_default_pic_x6puuUx.jpg"
                  alt="image"
                  style="width: 120px; height: 120px; border-radius: 50%"
                />
              </div>
              <p style="color: gray; text-align: center; font-size: 90%">
                XXX-XXX
              </p>

              <div class="winnerDetailsHolder">
                <div class="winnerDetailsA">
                  <p class="centered">RANK</p>
                  <p class="centered">WPM</p>
                  <p class="centered">CPM</p>
                  <p class="centered">MISTAKES</p>
                </div>
                <div class="winnerDetailsB">
                  <p class="centered">XX</p>
                  <p class="centered">XX</p>
                  <p class="centered">XX</p>
                  <p class="centered">XX</p>
                </div>
              </div>
            </div>
          </div>
          <div class="eventEndDivision">
            <br />
            <h5 class="loosertext" id="winnerRemark">
              YOU DIDN'T PARTICIPATE LAST EVENT
            </h5>
            <p
              style="color: gray; text-align: center; font-size: 90%"
              id="winnerRemark2"
            >
              "Hey there! <br />Have you considered joining our upcoming events?
              It's not just about the excitement of competing; it's an
              opportunity to shine and possibly walk away with fantastic
              gadgets! 🎁 That's right, we offer a range of gadgets as prizes
              for our top performers. Whether it's a smartphone, a tablet, or
              other cool tech gadgets, there are valuable rewards up for grabs.
              Participating is your chance to prove your skills, climb the
              leaderboard, and secure your spot among the winners. The thrill of
              victory is just a few clicks away, and with the right effort, you
              could be the proud owner of some fantastic tech. So, why wait?
              Dive into the action, compete with enthusiasm, and who knows, that
              next gadget might just be yours! Join us in our upcoming events
              and let's make it a memorable experience together. See you at the
              top!"
            </p>
            <br />
            <div class="looserOutput">
              <div class="winerImg">
                <img
                  src="/images/user_default_pic_x6puuUx.jpg"
                  alt="image"
                  style="width: 120px; height: 120px; border-radius: 50%"
                />
              </div>
              <p style="color: gray; text-align: center; font-size: 90%">
                XXX-XXX
              </p>

              <div class="winnerDetailsHolder">
                <div class="winnerDetailsA">
                  <p class="centered">RANK</p>
                  <p class="centered">WPM</p>
                  <p class="centered">CPM</p>
                  <p class="centered">MISTAKES</p>
                </div>
                <div class="winnerDetailsB">
                  <p class="centered">XX</p>
                  <p class="centered">XX</p>
                  <p class="centered">XX</p>
                  <p class="centered">XX</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="welcomeUserF">
          <button class="setseen">continue</button>
        </div>
      </div>

      <div class="welcomeUserHolder">
        <div class="welcomeUserH">
          <h3 style="letter-spacing: 3px; color: orange">
            NEW EVENT HAS JUST STARTED !!!
          </h3>
          <p style="color: gray">
            NAME :<span id="nameOfE"></span> &nbsp; TYPE :
            <span id="typeOfE"></span>
          </p>
        </div>
        <h4>&nbsp;Rules for "<span id="nameOfE2"></span>" Event:</h4>
        <div class="welcomeUserB2"></div>
        <div class="welcomeUserF">
          <button style="background: #ed143d" class="setseen">
            View prize
          </button>
          <button class="setseen">continue</button>
        </div>
      </div>
      <div class="spinnerContainer">
        <br />
        <br />
        <br />
        <div class="spinner"></div>
        <br />
        <div class="checking">
          <h5 id="checking">please wait...</h5>
        </div>
      </div>

      <div class="leaderboard_hider"></div>
      <div class="bodyCover"></div>

      <div class="notifications">
        <div class="notificationsBody">
          <p id="notText" style="width: 90%; padding: 10px"></p>
          <div class="closexx onNot">
            <div class="linex onex"></div>
            <div class="linex twox"></div>
          </div>
        </div>
      </div>

      <div class="alerts">
        <p id="alerts2"></p>
      </div>
      <div class="log_out_hider"></div>

      <div class="leaderboard_container">
        <div class="readerBoardOptions">
          <div class="otherOptions2">
            <p>
              <i class="fas fa-bolt"></i> &nbsp;&nbsp;<span id="lastEvent">
                Last Event</span
              >
            </p>
          </div>
          <div class="otherOptions2">
            <p>
              <i class="fas fa-trophy"></i>

              &nbsp;My Rank
            </p>
          </div>
        </div>
        <div
          style="
            border-bottom: 1px solid #21262d;
            padding: 8px;
            display: flex;
            justify-content: space-between;
          "
        >
          <h5 style="color: gray">
            &nbsp;<i
              class="fa fa-trophy tickettss"
              style="color: #e6007a; font-size: 150%"
            ></i
            >&nbsp;TOP USERS BY WPM
          </h5>
          <i class="fas fa-ellipsis-v iconss2" style="font-size: 140%"></i>
        </div>
        <div class="leaderboardHead">
          <div
            class="userBox"
            style="font-size: 95%; border: 1px solid #21262d; color: orange"
          >
            <div class="rankLB2" style="color: orange">RANK</div>
            <div
              class="firstnameLB2"
              style="text-align: center; color: orange; justify-content: center"
            >
              USER
            </div>
            <div class="wpmLB2" style="color: orange">WPM</div>
            <div class="charLB2" style="color: orange">CPM</div>
            <div class="mistLB2" style="color: orange">MISTAKE</div>
          </div>
        </div>
        <div class="loader3"></div>
        <div class="leaderboardBody"></div>
        <div class="leaderboardBody"></div>
      </div>
      <div class="container_head">
        <div class="header_box">
          <div style="cursor: pointer; display: flex">
            <img
              src="/images/logo.png"
              alt="logo"
              style="width: 30px; height: 30px; border-radius: 50%"
            />
            <h4
              style="
                cursor: pointer;
                padding-top: 10px;
                transform: translate(-7px);
              "
            >
              ext<span style="color: orange">Tornado</span>
            </h4>
          </div>
          <div class="availTicketsHolder">
            <p>
              <i
                style="font-size: 125%; color: #ed143d; cursor: pointer"
                class="fas fa-ticket-alt tickettss"
              ></i>
              <span id="ticket-avail"> </span>
            </p>
          </div>

          <div class="availTicketsHolder">
            <p>
              <i
                style="font-size: 125%; color: yellowgreen; cursor: pointer"
                class="fa fa-user tickettss"
              ></i>
              <span id="online"> </span>
            </p>
          </div>
          <!--  <div class="log_out displayNone">
            <p>PRACTICE</p>
          </div>-->
        </div>
        <div class="header_box displayNone">
          <div class="log_out buy_tokens displayNone displayNon2">
            <p>&nbsp;<i class="fas fa-shopping-cart"></i> BUY TICKETS</p>
          </div>
          <div class="log_out" id="open_comm">
            <p><i class="fas fa-comments"></i> &nbsp;COMMENTS</p>
          </div>
          <div class="log_out callRules">
            <p><i class="fas fa-lightbulb"></i> &nbsp;TIPS</p>
          </div>
        </div>
        <div class="header_box header_box2">
          <i class="fas fa-headset customerCare iconss"></i>
          <i class="fas fa-cog iconss"></i>
          <i class="fas fa-history history iconss"></i>
          <i class="fas fa-bell iconss notf"></i>
          <i class="fas fa-expand iconss" id="fullscreenButton"></i>
          <div class="user_avator player_name">
            <div class="pic" onclick="openManageAccount()">
              {% for x in player_d%}
              <img class="pic" src="/images/{{x.profile_pic}}" />
              {% endfor %}
            </div>
            <div
              class="user_name displayNone displayNon2"
              onclick="openManageAccount()"
            >
              {% for x in player_d%}
              <p>{{x.username}}</p>
              {% endfor %}
            </div>
          </div>

          <div class="log_out logout displayNone">
            <i class="fas fa-sign-out-alt"></i> &nbsp; LOGOUT
          </div>
        </div>
      </div>
      <div class="main_container">
        <button class="disNan" id="leaderb">LEADERBOARD</button>
        <div class="container_A">
          <div class="container_A_1">
            <div class="container_A_1_1">
              <div class="counters">
                <p>TIME</p>
              </div>
              <div class="container_A_1_1_1">
                <span class="time_left">60</span><span>s</span>
              </div>
            </div>
            <div class="container_A_1_1">
              <div class="counters">
                <p>MISTAKE</p>
              </div>
              <div class="container_A_1_1_1">
                <span id="mistakee"> 0 </span>
              </div>
            </div>
            <div class="container_A_1_1">
              <div class="counters">
                <p>WPM</p>
              </div>
              <div class="container_A_1_1_1"><span id="wpm">0</span></div>
            </div>
            <div class="container_A_1_1">
              <div class="counters">
                <p>CPM</p>
              </div>
              <div class="container_A_1_1_1"><span id="cpm"> 0 </span></div>
            </div>
          </div>
          <div class="container_A_2">
            <div class="loader3Holder">
              <div class="loader3"></div>
              <br />

              <h4 id="textttt" style="text-align: center; color: gray"></h4>
            </div>

            <div class="container_A_2_2">
              <div class="container_A_2_1">
                <button
                  class="log_out"
                  id="start"
                  style="background: orange; font-weight: 600"
                >
                  <p>START</p>
                </button>
                <button
                  class="log_out"
                  id="back"
                  style="background: gray; font-weight: 600"
                  disabled
                >
                  <p>BACK</p>
                </button>
                <div class="fonts_holder">
                  <div class="text_holder">
                    <p id="fontSize"><i class="fas fa-font"></i></p>
                  </div>
                  <select name="" id="fontss"></select>
                </div>
                <div class="fonts_holder">
                  <div class="text_holder">
                    <p id="fontSize"><i class="fas fa-align-left"></i></p>
                  </div>
                  <select id="alignmentSelector">
                    <option value="justify">Justify</option>
                    <option value="left">Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                    <option value="start">Start</option>
                    <option value="end">End</option>
                    <option value="unset">Unset</option>
                    <option value="inherit">Inherit</option>
                  </select>
                </div>

                <div class="fonts_holder">
                  <div class="text_holder">
                    <p id="fontSize"><i class="fas fa-text-width"></i></p>
                  </div>
                  <select id="fontSelector">
                    <option>Arial</option>
                    <option>Times New Roman</option>
                    <option>Courier New</option>
                    <option>Verdana</option>
                    <option>Helvetica</option>
                    <option>Georgia</option>
                    <option>Trebuchet MS</option>
                    <option>Palatino Linotype</option>
                    <option>Impact</option>
                    <option>Book Antiqua</option>
                    <option>Comic Sans MS</option>
                    <option>Arial Black</option>
                    <option>Lucida Console</option>
                    <option>Garamond</option>
                    <option>Century Gothic</option>
                  </select>
                </div>
                <button id="reshulf">
                  <i class="fa fa-random"></i>
                </button>
              </div>
              <div class="typing_text_holder">
                <div class="wrapper">
                  <input type="text" class="input-field" />
                  <div class="content-box">
                    <div class="typing-text">
                      <p id="qty"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aow_holder">
                <div class="container_A_1_3">
                  <div class="counters">
                    <p style="font-size: 95%">WORDS</p>
                  </div>
                  <div class="container_A_1_1_1 aow"></div>
                </div>
                <div class="container_A_1_3">
                  <div class="counters">
                    <p style="font-size: 95%">LETTERS</p>
                  </div>
                  <div class="container_A_1_1_1 aol"></div>
                </div>
              </div>
            </div>
            <div class="callResults">LAST EVENT</div>
          </div>
        </div>
      </div>
      <div class="container_B">
        <div class="timerMainBox">
          <div class="timerHead">
            <h3>EVENT ENDS IN</h3>
          </div>
          <div class="timerBody">
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="days">00</p>
              <p style="font-size: 80%">DAYS</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="hours">00</p>
              <p style="font-size: 80%">HOURS</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="mins">00</p>
              <p style="font-size: 80%">MINUTES</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="seconds">00</p>
              <p style="font-size: 80%">SECONDS</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="milliseconds">00</p>
              <p style="font-size: 80%">MS</p>
            </div>
          </div>
          <div class="event_d">
            <div class="event_d2">
              <p>EVENT NAME</p>
              <p id="eventName">XXX</p>
            </div>
            <div class="event_d2">
              <p>EVENT TYPE</p>
              <p id="eventType">XXX</p>
            </div>
            <div class="event_d2">
              <p>DURATION</p>
              <p>XXX</p>
            </div>
          </div>
        </div>

        <div class="timerMainBox">
          <div class="timerHead">
            <h3>NEXT EVENT STARTS IN</h3>
          </div>
          <div class="timerBody">
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="days2">00</p>
              <p style="font-size: 80%">DAYS</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="hours2">00</p>
              <p style="font-size: 80%">HOURS</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="mins2">00</p>
              <p style="font-size: 80%">MINUTES</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="seconds2">00</p>
              <p style="font-size: 80%">SECONDS</p>
            </div>
            <div class="timerSubBox">
              <p style="font-size: 170%; color: orange" id="milliseconds2">
                00
              </p>
              <p style="font-size: 80%">MS</p>
            </div>
          </div>
          <div class="event_d">
            <div class="event_d2">
              <p>EVENT NAME</p>
              <p>XXX</p>
            </div>
            <div class="event_d2">
              <p>EVENT TYPE</p>
              <p>XXX</p>
            </div>
            <div class="event_d2">
              <p>DURATION</p>
              <p>XXX</p>
            </div>
          </div>
        </div>

        <div class="timerMainBox">
          <div class="timerHead">
            <br />
            <h5 id="texttt"></h5>
            <br />
          </div>

          <div class="mored">
            <div class="token_holder_2">
              <i
                style="font-size: 1000%; cursor: pointer"
                class="fas fa-ticket-alt tickett1 tickettss"
              ></i>
              <i
                style="font-size: 1000%; cursor: pointer"
                class="fas fa-ticket-alt tickett2 tickettss"
              ></i>
              <i
                style="font-size: 1000%; cursor: pointer"
                class="fas fa-ticket-alt tickett3 tickettss"
              ></i>
              <i
                style="font-size: 1000%; cursor: pointer"
                class="fas fa-ticket-alt tickett4 tickettss"
              ></i>
              <i
                style="font-size: 1000%; cursor: pointer"
                class="fas fa-ticket-alt tickett5 tickettss"
              ></i>
            </div>
            <br />
            <br />
            <br />
            <p>
              With our exclusive subscription package, the
              <span style="color: #ed143d">TextTornado Pass</span>," you gain
              access to an exciting journey through five consecutive events.
              Upon subscribing, you'll receive a generous allocation of 20
              tickets at the beginning of each event, ensuring you're
              well-prepared to participate to the fullest. Enjoy uninterrupted
              excitement as you dive into event after event, all covered by your
              TextTornado Pass.
            </p>
            <br />
          </div>
          <span class="loader2"></span>
          <div
            style="
              font-weight: 600;
              padding: 5px;
              text-align: center;
              font-size: 110%;
            "
          >
            <p>
              <span style="color: #ed143d; font-size: 140%"
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MWK15,989 <br />
                &nbsp;&nbsp;&nbsp;17%<sup>OFF</sup>
              </span>
              <strike>22,500</strike>
            </p>
          </div>
          <div class="timerBody">
            <button class="cancel-btn2 moreD" style="opacity: 0.9">
              more details
            </button>
            <button
              class="next-btn2 subscribe"
              style="opacity: 0.9; background: #ed143d"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
      <div class="settings">
        <div class="settings_box">TEST HISTORY</div>
        <div class="settings_box">SUPPORT</div>
        <div class="settings_box">FAQs</div>
        <div class="settings_box displayNone">SETTINGS</div>
      </div>
      <div class="options_notf">
        <div class="notf_header">
          <p>Notifications</p>
          <i class="fas fa-ellipsis-v iconss2" style="font-size: 140%"></i>
        </div>
        <div class="notf_body"></div>
      </div>

      <div class="options_comments">
        <div class="comment_header">
          <p>Comments</p>
          <div class="closexx">
            <div class="linex onex"></div>
            <div class="linex twox"></div>
          </div>
        </div>

        <div class="comment_body"></div>
        <div class="comment_foot">
          
          <div id="emoji-picker"></div>
          <form id="comment_form" class="input-placecomme">
            <button
              type="button"
              class="emoji-button"
              style="background: transparent; padding: 6px"
            >
              <i
                class="far fa-smile iconss"
                style="font-size: 130%; margin-top:2px;"
              ></i>
            </button>
            <div style="width: 90%">
              <input type="hidden" id="csrf_token5" value="{{ csrf_token }}" />
              <input type="hidden" id="csrf_token5" value="{{ csrf_token }}" />
              <input type="hidden" id="csrf_token14" value="{{ csrf_token }}" />
              <input
                type="hidden"
                id="csrf_token511"
                value="{{ csrf_token }}"
              />
              <input
                type="hidden"
                id="csrf_token512"
                value="{{ csrf_token }}"
              />
              <input
                type="hidden"
                id="csrf_token114"
                value="{{ csrf_token }}"
              />
              <input type="hidden" id="csrf_token15" value="{{ csrf_token }}" />
              <input type="hidden" id="csrf_token00" value="{{ csrf_token }}" />
              <input type="hidden" id="csrf_token59" value="{{ csrf_token }}" />

              <input
                placeholder="Send a comment."
                class="send-inputcomme comment"
                type="text"
              />
            </div>
            <div style="width: auto">
              <button
                type="submit"
                style="background: transparent; border-left: 1px solid gray"
              >
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="shareTickets">
        <div class="container-error">
          <i class="fas fa-exclamation-triangle" style="color: red"></i>
          &nbsp;<span id="errors3"></span>
        </div>
        <div class="shareTicketsHead">
          <p>
            <i
              style="font-size: 120%; color: #ed143d"
              class="fas fa-ticket-alt"
            ></i
            >&nbsp; Share tickets
          </p>
          <img
            src="/images/loading.gif"
            style="width: 30px; height: 30px; display: none; border-radius: 50%"
            class="loader_s"
          />
          <div class="closexx closeShare">
            <div class="linex onex"></div>
            <div class="linex twox"></div>
          </div>
        </div>

        <div class="shareTicketsBody">
          <div class="sharePart">
            <form class="sharePart1">
              <label for="shareN">Phone Number</label> <br />
              <input
                type="number"
                id="shareN"
                placeholder="Enter phone number"
              />
              <br />
              <br />
              <label for="shareT">Tickets</label> <br />
              <input type="number" id="shareT" placeholder="0" /> <br />
              <br />
            </form>
            <div class="sharePart2">
              <img src="images/user_default_pic_x6puuUx.jpg" id="imgTosend" />
              <p style="font-weght: bold" id="usernameTosend">XXX-XXX</p>
              <br />
              <p style="font-weght: bold; color: gray">
                You are sending <span id="amtT"></span> tickets to
                <span id="userT"></span> click send to continue.
              </p>
            </div>
            <div style="width: 40%; color: gray; text-align: center">
              <i
                style="font-size: 500%; color: orange"
                class="fas fa-users tickettss"
              ></i>
              <p style="font-size: 120%">
                Share tickets with friends and family effortlessly, from any
                number to any number.
              </p>
            </div>
          </div>
        </div>
        <div class="shareTicketsFoot">
          <button class="next-btn3">Continue</button>
          <button class="next-btn3" style="display: none">Send</button>
          <button class="cancel-btnn3">Cancel</button>

          <button class="cancel-btnn3" style="display: none">Back</button>
        </div>
      </div>

      <div class="shareTickets">
        <div class="shareTicketsHead">
          <p><i class="far fa-flag"></i> &nbsp;Claim tickets</p>
          <img
            src="/images/loading.gif"
            style="width: 25px; height: 25px; display: none; border-radius: 50%"
            class="loader_s2"
          />
          <div class="closexx closeClaim">
            <div class="linex onex"></div>
            <div class="linex twox"></div>
          </div>
        </div>
        <div class="shareTicketsBody">
          <div class="sharePart">
            <div class="sharePart1">
              <div class="token_holder" style="width: 80%">
                <i
                  style="font-size: 110%; cursor: pointer"
                  class="fa fa-tag tagg"
                ></i>
                <div class="token_holder_2">
                  <i
                    style="font-size: 1000%; cursor: pointer"
                    class="fas fa-ticket-alt tickettss claimed"
                  ></i>
                </div>

                <div class="price_holder">
                  <button class="claim_box">Claim</button>
                </div>
              </div>
            </div>
            <div class="sharePart3">
              <p>
                As you sharpen your typing skills and achieve impressive
                accuracy milestones, you'll have the chance to claim free
                tickets. These tickets can be your rewards for precision and
                dedication or surprise gifts to fuel your typing journey. Plus,
                for our event champions, winning comes with the added perk of
                earning free tickets. So, whether you're striving for accuracy,
                celebrating a win, or just feeling lucky, these free tickets are
                your passport to more thrilling typing challenges and exciting
                events
              </p>
            </div>
          </div>
        </div>
        <div class="shareTicketsFoot">
          <button class="next-btn3">Learn more</button>
          <button class="cancel-btnn3">Cancel</button>
        </div>
      </div>

      <div class="options">
        <div class="options_header">
          <div class="options_header_box">
            <i
              style="font-size: 150%; color: orange; cursor: pointer"
              class="fas fa-ticket-alt"
            ></i>
            &nbsp;STORE
          </div>
          <div class="options_header_box">
            <div class="closexx closee">
              <div class="linex onex"></div>
              <div class="linex twox"></div>
            </div>
          </div>
        </div>
        <div class="token_container">
          <div class="token_containerB">
            <div class="otherOptions">
              <p><i class="fas fa-share"></i> &nbsp;Share tickets</p>
            </div>
            <div class="otherOptions">
              <p><i class="far fa-flag"></i>&nbsp; Claim free tickets</p>
            </div>
            <div class="otherOptions">
              <p><i class="fas fa-headset"></i>&nbsp; Customer care</p>
            </div>
          </div>
          <div class="token_containerA">
            <div class="token_holder">
              <i
                style="font-size: 110%; cursor: pointer"
                class="fa fa-tag tagg"
              ></i
              >&nbsp;&nbsp;<span style="text-align: center">MK50</span
              >&nbsp;<span style="color: orange">,1 ticket</span>
              <div class="token_holder_1">
                <p>
                  STARNDARD <br />
                  TICKET
                </p>
              </div>
              <div class="token_holder_2">
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett1 tickettss"
                ></i>
              </div>
              <div class="star_holder">
                <i
                  style="color: white; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
              </div>
              <div class="price_holder">
                <div class="price_box">
                  <i class="fas fa-shopping-cart"></i> Buy
                </div>
              </div>
            </div>
            <div class="token_holder">
              <i
                style="font-size: 110%; cursor: pointer"
                class="fa fa-tag tagg"
              ></i
              >&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align: center"
                >MK100</span
              >&nbsp;<span style="color: orange">,3 tickets</span>
              <div class="token_holder_1">
                <p>EPIC <br />TICKETS</p>
              </div>
              <div class="token_holder_2">
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett1 tickettss"
                ></i>
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett2 tickettss"
                ></i>
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett3 tickettss"
                ></i>
              </div>
              <div class="star_holder">
                <i
                  style="color: white; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
                <i
                  style="color: white; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
                <i
                  style="color: white; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
              </div>
              <div class="price_holder">
                <div class="price_box">
                  <i class="fas fa-shopping-cart"></i> Buy
                </div>
              </div>
            </div>
            <div class="token_holder">
              <i
                style="font-size: 110%; cursor: pointer"
                class="fa fa-tag tagg"
              ></i
              >&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="text-align: center">MK150</span>&nbsp;<span
                style="color: orange"
                >,5 tickets</span
              >
              <div class="token_holder_1">
                <p>
                  LEGENDARY <br />
                  TICKETS
                </p>
              </div>
              <div class="token_holder_2">
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett1 tickettss"
                ></i>
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett2 tickettss"
                ></i>
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett3 tickettss"
                ></i>
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett4 tickettss"
                ></i>
                <i
                  style="font-size: 1000%; cursor: pointer"
                  class="fas fa-ticket-alt tickett5 tickettss"
                ></i>
              </div>
              <div class="star_holder">
                <i
                  style="color: gold; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
                <i
                  style="color: gold; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
                <i
                  style="color: gold; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
                <i
                  style="color: gold; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
                <i
                  style="color: gold; font-size: 100%; cursor: pointer"
                  class="fa fa-star"
                ></i>
              </div>
              <div class="price_holder">
                <div class="price_box">
                  <i class="fas fa-shopping-cart"></i> Buy
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="manage_account_holder manage_account_holder2">
        <div class="manage_account_header">
          <p>MANAGE ACCOUNT</p>
          <i
            style="font-size: 100%; cursor: pointer"
            class="fa fa-close closee5 manage_close"
          ></i>
        </div>
        <div class="manage_account_body">
          <form id="save_data">
            <input type="hidden" id="csrf_token0" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token4" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token7" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token13" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token55" value="{{ csrf_token }}" />
            {% for x in player_d %}
            <input
              type="text"
              name=""
              id=""
              class="edit1"
              value="{{x.firstname}}"
              placeholder="Firstname"
            />
            <br />
            <input
              type="text"
              name=""
              id=""
              class="edit1"
              value="{{x.lastname}}"
              placeholder="Lastname"
            />
            <br />
            <input
              type="email"
              name=""
              id=""
              class="edit1"
              value="{{x.mail}}"
              placeholder="Email"
            />
            <br />
            <input
              type="text"
              name=""
              id=""
              class="edit1"
              value="{{x.username}}"
              disabled
              placeholder="Username"
            />
            <br />
            <input
              type="number"
              name=""
              id=""
              class="edit1"
              value=""
              disabled
              placeholder="Number"
            />
            <br />
            <input
              type="text"
              name=""
              id=""
              class="edit1"
              value="{{x.password}}"
              disabled
              placeholder="password"
            />
            <br />
            <label for="imageInput">UPLOAD PHOTO</label> <br />
            <input
              type="file"
              id="imageInput"
              name="image"
              accept="image/*"
              placeholder="upload image"
            />
            {% endfor %}

            <div class="manage_account_footer">
              <div class="settings_box change">
                <p>CHANGE PASSWORD</p>
              </div>
              <div class="settings_box">
                <input
                  type="submit"
                  value="SAVE"
                  style="background-color: rgb(13, 23, 33); color: white"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="change_pass">
          <div class="change_pass_header">
            <p>CHANGE PASSWORD</p>
            <i
              style="font-size: 100%; cursor: pointer"
              class="fa fa-close closee5 manage_close"
            ></i>
          </div>

          <div class="change_pass_body">
            <form action="">
              <input type="hidden" id="csrf_token6" value="{{ csrf_token }}" />
              <input type="text" class="edit1" placeholder="Old password" />
              <br />
              <input type="text" class="edit1" placeholder="New password" />
              <br />
              <input type="text" class="edit1" placeholder="Confirm password" />
              <br />
            </form>
          </div>
          <div class="change_pass_footer">
            <div class="settings_box">
              <p>SAVE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="options_player">
        <div class="pro_text">
          <p>PROFILE</p>
          <i
            style="font-size: 100%; cursor: pointer"
            class="fa fa-close closee5 manage_close"
          ></i>
        </div>
        <div id="user_profile">
          {% for x in player_d %}
          <p>&nbsp; ID : {{x.player_id}}</p>
          {% endfor%}

          <br />

          <div class="user_box">
            {% for x in player_d%}
            <img class="ico icom" src="/images/{{x.profile_pic}}" />
            {% endfor %}

            <br />
            <div class="user_d"></div>
          </div>
          <br />
          <div class="manage_account">MANAGE ACCOUNT</div>
        </div>
      </div>
      <div class="options_logout">
        <div class="options_logout_1">
          <p>ARE YOU SURE?</p>
        </div>
        <div class="options_logout_1">
          <a href="{% url 'ttd_user_login' %}">
            <div class="options_logout_1_1">YES</div>
          </a>
          <div class="options_logout_1_1">NO</div>
        </div>
      </div>

      <div class="settings_container">
        <div class="test_history_header">
          <p>TEST HISTORY</p>
          <i
            style="font-size: 100%; cursor: pointer"
            class="fa fa-close closee"
          ></i>
        </div>
        <div class="test_history_holder">
          <div class="test_history_box"></div>
        </div>
      </div>
      <div class="settings_container" style="overflow: hidden">
        <div class="test_history_header">
          <p><i class="fas fa-headset"></i> &nbsp;SUPPORT/HELP/ CUSTOMER CARE</p>
          <i
            style="font-size: 100%; cursor: pointer"
            class="fa fa-close closee"
          ></i>
        </div>
        <div class="test_history_holder2">
          <div class="issue_holder1">
            Welcome to our dedicated Support and Assistance Center! We
            understand that sometimes you may have questions, concerns, or need
            assistance with various aspects of our platform, from ticket
            purchases to event inquiries and beyond. In this section, you have
            the power to reach out to us anytime, and we're here to help, 24/7.
          </div>
          <br />
        </div>

        <form class="issue_input">
          <input type="text" class="customer" placeholder="Write here.." />
          <button
            type="submit"
            style="background: transparent; border-left: 1px solid gray"
          >
            <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
      <div class="settings_container">
        <div class="ask_holder">
          <div class="test_history_header">
            <p>ASK QUESTION</p>
            <i
              style="font-size: 100%; cursor: pointer"
              class="fa fa-close closee1"
            ></i>
          </div>
          <div class="question_holder">
            <form action="">
              <input type="text" id="qs1" placeholder="Your question..." />
              <br />
              <input type="submit" id="qs2" />
            </form>
          </div>
        </div>
        <div class="test_history_header">
          <p>FAQs</p>
          <div class="ask">ASK QUESTION</div>
          <i
            style="font-size: 100%; cursor: pointer"
            class="fa fa-close closee"
          ></i>
        </div>
        <div class="test_history_holder"></div>
      </div>
      <div class="settings_container">
        <div class="test_history_header">
          <p>SETTINGS</p>
          <i
            style="font-size: 100%; cursor: pointer"
            class="fa fa-close closee"
          ></i>
        </div>
        <div class="test_history_holder">
          <div class="switch-holder">
            <div class="switch-label">
              <i class="fa fa-moon-o"></i><span>DARK MODE</span>
            </div>
            <div class="switch-toggle">
              <input type="checkbox" id="dark_mode" />
              <label for="dark_mode"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="tips">
        <div class="tips2">
          <p style="font-size: 150%; letter-spacing: 4px; text-align: center">
            TIME UP !!!
          </p>
          <div class="tips1">
            <div>
              <p>
                <span class="test_D">WPM :</span> <span class="test_D2"></span>
              </p>
              <p>
                <span class="test_D">CPM :</span> <span class="test_D2"></span>
              </p>
              <p>
                <span class="test_D">MISTAKES :</span>
                <span class="test_D2"></span>
              </p>
            </div>
            <div class="loaderBoxx">
              <div class="outer">
                <div class="inner">
                  <div id="numberr">0</div>
                </div>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                width="200px"
                height="200px"
              >
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#e91e63" />
                    <stop offset="100%" stop-color="#673ab7" />
                  </linearGradient>
                </defs>
                <circle
                  class="circle3"
                  cx="70"
                  cy="70"
                  r="60"
                  stroke-linecap="round"
                  style="--progress: 0"
                />
              </svg>
              <br />
            </div>
          </div>

          <p id="mistakeError"></p>
          <div class="cont_holder">
            <div class="cont_btn"><p>CONTINUE</p></div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/ttd_user_home_script.js' %}"></script>
    <script src="{% static 'js/ttd_typing_logic.js' %}"></script>
    <script src="{% static 'js/ttd_getting_data_api.js' %}"></script>
    <script src="{% static 'js/timers.js' %}"></script>
    <script src="{% static 'js/home_typos.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script src="{% static 'js/5747.js' %}"></script>
  </body>
</html>
