{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/terms.css' %}" />
    <title>terms of use</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <h4>Text<span style="color: orange">Tornado</span></h4>
    </div>
    <div class="main_container">
      <div class="container">
        <div class="container_sub">
          
          <p><i class="fas fa-check"></i>&nbsp;<a href="#bottom1">Account Terms</a></p>
          <p><i class="fas fa-check"></i>&nbsp;<a href="#bottom2">Disclaimer</a></p>
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom3">Classification and Nature of
            OurService.</a>
          </p>
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom4">Modifications to the Service and
            Prices</a>
          </p>
          <p><i class="fas fa-check"></i>&nbsp;<a href="#bottom5">Limitations</a></p>
          <p><i class="fas fa-check"></i>&nbsp;<a href="#bottom6">Revisions and Errata</a></p>
          <p>
            <i class="fas fa-check"></i>&nbsp;<a href="#bottom7">Terms of Service Modifications</a>
          </p>
        </div>
        <div class="getStarted">
          <h5><a href="https://www.capsulcode.tech/"> Capsulcode Tech</a></h5>
          <br />
          <p><span>Terms of use</span> | <span>privacy policy</span></p>
        </div>
      </div>
      <div class="containerB">
        <div class="header_container">
          <h3>Terms of Use</h3>
          <br />
          <p>
            By utilizing the services provided on texttornado.com ("Service"),
            you hereby acknowledge and accept the following terms and conditions
            ("Terms of Service"). Any breach of these terms may result in the
            immediate termination of your account.
          </p>
        </div>
        <a id="bottom1"></a>
        <div class="header_container">
          <h3>Account Terms</h3>
          <br />
          <ul>
            <li>
              You must be a human. Accounts registered by “bots” or other
              automated methods are not permitted.
            </li>
            <li>
              You must provide a valid phone number, and any other information
              requested in order to complete the signup process.
            </li>
            <li>
              Your login may only be used by one person — a single login shared
              by multiple people is not permitted
            </li>
            <li>
              You are responsible for maintaining the security of your account
              and password. texttornado.com cannot and will not be liable for
              any loss or damage from your failure to comply with this security
              obligation.
            </li>
            <li>
              You may not use the Service for any illegal or unauthorized
              purpose. You must not, in the use of the Service, violate any laws
              in your jurisdiction (including but not limited to copyright
              laws).
            </li>
            <li>
              You must be of legal age in your jurisdiction to participate in
              typing events and purchase tickets on the platform.
            </li>
            <li>
              You are solely responsible for the accuracy and truthfulness of
              the information you provide during the signup process, including
              your personal details.
            </li>
            <li>
              Participation in typing events requires the purchase of a valid
              ticket or entry fee, the cost of which may vary depending on the
              specific event.
            </li>
            <li>
              Users are expected to maintain respectful and appropriate behavior
              in the comments section. Any offensive, harassing, or abusive
              content will not be tolerated and may result in account suspension
              or termination.
            </li>
            <li>
              You understand that the typing history recorded by the platform is
              for personal reference and may be used for leaderboard rankings.
              You may not manipulate or falsify your typing history in any way.
            </li>
            <li>
              The leaderboard rankings are determined by the highest words per
              minute (WPM) achieved during the specified event period, and the
              decision of the platform regarding winners is final.
            </li>
            <li>
              Prizes, whether gadgets or money, will be awarded to the top
              participants as per the rules and terms specified for each event.
              The platform reserves the right to modify prizes and rules at its
              discretion.
            </li>
            <li>
              Users are expected to adhere to all applicable laws and
              regulations while using the Service, including but not limited to
              respecting intellectual property rights, such as copyright laws.
            </li>
            <li>
              The platform reserves the right to investigate and take
              appropriate action, including account suspension or termination,
              in response to any suspected violations of these terms or any
              misuse of the Service.
            </li>
          </ul>
        </div>
        <div class="header_container">
          <a id="bottom2"></a>
          <h3>Disclaimer</h3>
          <br />
          <p>
            The materials on the texttornado.com website are provided on an "as
            is" basis. Texttornado.com makes no warranties, either expressed or
            implied, and hereby disclaims and negates all other warranties. This
            includes, without limitation, implied warranties or conditions of
            merchantability, fitness for a particular purpose, or
            non-infringement of intellectual property or other violation of
            rights. Furthermore, Texttornado.com does not warrant or make any
            representations concerning the accuracy, likely results, or
            reliability of the use of the materials on its Internet website or
            in connection with such materials. This disclaimer extends to any
            sites linked to this site.
          </p>
        </div>
        <a id="bottom3"></a>
        <div class="header_container">
          <h3>Classification and Nature of Our Service.</h3>
          <br />
          <p>
            It is imperative to clarify that our web application does not fall
            within the realm of a gambling site. While participants are required
            to purchase tickets or pay entry fees to engage in typing events and
            have the opportunity to win valuable prizes, such as gadgets or
            monetary rewards, it is essential to differentiate our platform from
            gambling activities. In contrast to traditional gambling, which
            often hinges on chance and uncertain outcomes, our platform centers
            around skill-based competitions. Users partake in typing events
            where their performance relies on their typing skills and personal
            efforts, affording them the opportunity to refine and enhance their
            abilities over time. We strongly advocate for adherence to
            applicable laws and regulations in your jurisdiction and recommend
            seeking legal counsel if any uncertainties arise regarding the legal
            status of our platform. Our commitment is to provide a transparent
            and engaging skill-based experience for our users.
          </p>
        </div>
        <a id="bottom4"></a>
        <div class="header_container">
          <h3>Modifications to the Service and Prices</h3>
          <br />
          <p>
            texttornado.com retains the authority to make adjustments or cease,
            either temporarily or permanently, any aspect of the Service (or any
            component thereof) at any time and without prior notice. The pricing
            of the Service may be subject to alterations, also without prior
            notice from us. texttornado.com shall not assume liability, either
            to you or any third party, for any modifications, changes in
            pricing, suspensions, or discontinuations of the Service.
          </p>
        </div>
        <a id="bottom5"></a>
        <div class="header_container">
          <h3>Limitations</h3>
          <br />
          <p>
            In utilizing our service, it is important to be aware of certain
            limitations. These include occasional downtime or interruptions that
            may arise due to maintenance or unforeseen technical issues. Users
            are expected to responsibly manage their accounts, maintain the
            confidentiality of their account information, and respect the rights
            of others on the platform. We do not assume responsibility for the
            accuracy or quality of third-party content or external links.
            Furthermore, our liability is limited as outlined in our terms,
            including disclaimers regarding consequential damages or loss of
            data. Users should also adhere to appropriate conduct standards and
            comply with our policies. We reserve the right to terminate accounts
            or access to our service in cases of violations or illegal
            activities. Our terms and conditions may be subject to periodic
            updates, and users will be informed of significant changes. Legal
            matters related to our service will typically be resolved according
            to the jurisdiction and governing law specified in our terms.
          </p>
        </div>
        <a id="bottom6"></a>
        <div class="header_container">
          <h3>Revisions and Errata</h3>
          <br />
          <p>
            While we strive to provide accurate and up-to-date information on
            our platform, there may be occasional inaccuracies, errors, or
            omissions in the content we provide. We reserve the right to make
            revisions, corrections, or updates to the materials and content on
            our platform at any time and without prior notice. It is the
            responsibility of users to verify the accuracy and relevance of any
            information or content they encounter on our platform. We do not
            assume liability for any inaccuracies, errors, or omissions in our
            content.
          </p>
        </div>
        <a id="bottom7"></a>
        <div class="header_container">
          <h3>Terms of Service Modifications</h3>
          <br />
          <p>
            We reserve the right to modify, amend, or revise these Terms of
            Service at our discretion. Any changes to these terms will be
            effective immediately upon posting on our platform. Users are
            encouraged to periodically review these terms to stay informed of
            any updates. Your continued use of our service after the posting of
            any modifications indicates your acceptance of the revised terms. If
            you do not agree with the revised terms, you should discontinue
            using our service.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
