<!DOCTYPE html>
<html>
  <head>
    <title>Date and Time Input Form</title>
  </head>
  <body>
    hjhjh
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            try {
              const response = await fetch("/get_remaining_time");
              if (response.status === 200) {
                const data = await response.json();
                 alert(data.remaining_time)
              } else {
                console.log("Request failed. Returned status of " + response.status);
              }
            } catch (error) {
              console.error("An error occurred:", error);
            }
          });
    </script>
  </body>
</html>
