{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ttd_user_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ttd_user_mobile_style.css' %}">
</head>

<body>
    <main class="main2">
        <div class="welcoming_holder">
            <div class="welcoming_holder_text">
                <p id="typing-text2"></p>
            </div>
            <div class="welcoming_holder_btn">
                <div class="btn_create_acount">
                    <p> <a href="{% url 'ttd_user_login'%}">LOG IN</a></p>
                </div>
            </div>
        </div>
        <div class="form_holder">
            <div class="ttd_admin_container">
                <div id="header">
                    <h4 id="header_text"></h4>
                </div>
                <p id="redirect_text" style="font-size: 80%; letter-spacing:2px; margin:10px; text-align: center; "></p>
                <form class="s_form">
                    <div class="shown_form_part">
                        <span style="color:red;font-size: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;<span id="warn1"></span></span>
                        <br>
                        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                        <label for="username" id="username"></label><br>
                        <input type="text" name="username" class="usern" required><br>
                        <label for="number" id="number"></label><br>
                        <input type="number" name="number" id="number_u" required><br>
                        <label for="password" id="passw"></label><br>
                        <input type="password" name="password" id="password" autocomplete="current-password" required>
                        <br>
                        <label for="password2" id="passw2"></label><br>
                        <input type="password" name="password2" id="password2" required autocomplete="current-password">
                        <br>
                        <span id="displayPassword"><input type="checkbox" id="checkbox"> <label for="checkbox"
                                id="status">show password</label></span>
                        <input type="submit" value="NEXT">
                    </div>
                </form>
                <form class="s_form2">
                    <div class="hidden_form_part">
                        <p>WE HAVE SENT A VERIFICATION CODE TO <span id="v_code"></span></p>
                        <br>
                        <label for="verification" id="verification"></label><br>
                        <input type="number" name="verification" id="verification1"
                            placeholder="ENTER VERIFICATION CODE" required><br>
                        <br>
                        <input type="submit" value="FINISH">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js/ttd_user_script.js' %}"></script>
    <script src="{% static 'js/ttd_user_script2.js' %}"></script>
</body>

</html>