{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{% static 'css/ttd_admin_home_style.css' %}">
</head>

<body>
    <div class="left_side_nav" id="nav">
        <div class="brand_holder">
            <h6>TEXTTORNADO</h6>
        </div>
        <div class="left_side_nav_content_holder">
            <ul>
                <li><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-dashboard"></i> &nbsp; &nbsp; Dashboard
                </li>
                <li onclick="open_admin()" onclick="close_notf()"><i style="color: #ebe2e2; font-size: 100%;"
                        class="fa fa-id-badge"></i>
                    &nbsp; &nbsp; Admins</li>
                <li onclick="open_users()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-user-circle"></i>
                    &nbsp; &nbsp; Users</li>
                <li onclick="open_comp()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-bolt"></i>
                    &nbsp; &nbsp;
                    Comptitions</li>
                <li onclick="open_test()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-puzzle-piece"></i>
                    &nbsp; &nbsp;Typing tests
                </li>
                <li onclick="open_res()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-cubes"></i> &nbsp;
                    &nbsp; Results
                </li>
                <li onclick="open_mail()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-envelope-o"></i>
                    &nbsp; &nbsp; Emails
                </li>
                <li onclick="open_pay()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-money"></i>
                    &nbsp; &nbsp; Payments
                </li>
                <li onclick="open_leader()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-group"></i>
                    &nbsp; &nbsp;
                    Leaderbord</li>
                <li onclick="open_analy()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-sitemap"></i> &nbsp;
                    &nbsp; Analytics
                </li>
                <li onclick="open_game()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-ticket"></i> &nbsp;
                    &nbsp;
                    Gamification
                </li>
                <li onclick="open_secu()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-unlock-alt"></i>
                    &nbsp; &nbsp; Security
                </li>
                <li onclick="open_repo()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-archive"></i> &nbsp;
                    &nbsp; Reports
                </li>
                <li onclick="open_supp()"><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-support"></i> &nbsp;
                    &nbsp; Support
                </li>
            </ul>

        </div>
        <div class="nav_footer">
            <br>
            <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>CHARTS</small></P>
            <ul>
                <li><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-area-chart"></i> &nbsp; Area</li>
                <li><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-bar-chart"></i> &nbsp; Bar</li>
                <li><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-line-chart"></i> &nbsp; Line</li>
                <li><i style="color: #ebe2e2; font-size: 100%;" class="fa fa-pie-chart"></i> &nbsp; Pie</li>
            </ul>
        </div>

    </div>
    <div class="top_side_nav">
        <button class="btn"><a href="{% url 'ttd_admin_login' %}">Log out</a></button>
        <div class="admin_name">
            {% for x in admin_details %}
            <p>{{x.firstname}} {{x.lastname}}</p>
            <p> <small>{{x.position}}</small></p>
            {% endfor %}
        </div>
        <div class="profile_pic">
            <i style="color: #ffffff; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); font-size: 170%;"
                class="fa fa-user-circle-o"></i>
        </div>
        <div class="notf_msg_holder">
            <i style="color: slateblue; font-size: 100%;" class="fa fa-bell notf" onclick=" open_notf()"></i>
            <i style="color: slateblue; font-size: 100%;" class="fa fa-envelope msg" onclick=" open_msg()"></i>
        </div>
        <i onclick="close_nav()" style="color:#000000; font-size: 140%;" class="fa fa-bars msg clo"></i>
        <i onclick="open_nav()" style="color:#000000; font-size: 140%;" class="fa fa-bars msg ope"></i>
    </div>
    <div class="main_container" id="home">
        <div class="date_dash">
            <div class="date_dash_box1">
                <div class="icon">
                    <i style="color: #ffffff; font-size: 110%;" class="fa fa-bank msg"></i>
                </div>
                <div class="dash">
                    <h6>Dashboard</h6>
                    <h5><small>capsulcode technologies production</small></h5>
                </div>

            </div>
            <div class="date_dash_box1" onclick="open_admin()">
                <div class="icon">
                    <i style="color: #ffffff; font-size: 110%;" class="fa fa-user-secret msg"></i>
                </div>
                <div class="dash">
                    <h6>ADMINS</h6>
                    <h5 style="text-align: center; margin-top: 4px;">{{amount_of_admins}}</h5>
                </div>

            </div>


            <div class="date_dash_box2">
                <p><small
                        style="display:block;   box-shadow: 0px 0px 3px gray; padding:8px; color:#ffffff; border-radius:4px;">{{date1}}</small>
                </p>
            </div>
        </div>

        <div class="container_A" onclick="close_settings()">
            <div class="container_A_1">

                <div class="container_A_1_1">
                    <h6>Deals Analytics</h6>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="container_A_2">
                <div class="container_A_2_box" style="border-bottom: 5px solid tomato;">
                    <div class="container_A_2_box_1">
                        <p> <small>new accounts</small></p>
                        <h4 style="color:  tomato">&nbsp; 0</h4>
                        <p> <small>23 May, 2023</small></p>
                    </div>
                    <div class="container_A_2_box_2">
                        <i style="color:tomato; font-size: 280%;" class="fa fa-user-plus"></i>
                    </div>
                </div>

                <div class="container_A_2_box" style="border-bottom: 5px solid dodgerblue;">
                    <div class="container_A_2_box_1">
                        <p><small>registered accounts</small> </p>
                        <h4 style="color: dodgerblue">&nbsp; 0</h4>
                        <p> <small>23 May, 2023</small></p>
                    </div>
                    <div class="container_A_2_box_2">
                        <i style="color:dodgerblue; font-size: 280%;" class="fa fa-user-circle"></i>
                    </div>
                </div>
                <div class="container_A_2_box" style="border-bottom: 5px solid yellowgreen;">
                    <div class="container_A_2_box_1">
                        <p><small>online</small></p>
                        <h4 style="color: yellowgreen ">&nbsp; 0</h4>
                        <p> <small>{{date1}}</small></p>
                    </div>
                    <div class="container_A_2_box_2">
                        <i style="color:yellowgreen; font-size: 280%;" class="fa fa-group"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_B" onclick="close_settings()">
            <div class="container_B__box">
                <h5>test taken</h5>

            </div>
            <div class="container_B__box"></div>
            <div class="container_B__box"></div>
        </div>
        <div class="container_C">
            <div class="container_C_1">
                <div class="container_C_1_header"></div>
            </div>
            <div class="container_C_1">
                <div class="container_C_1_header"></div>
            </div>
            <div class="container_C_1">
                <div class="container_C_1_header"></div>
            </div>
        </div>
        <div class="container_D"></div>
    </div>
    <div class="settings_holder" onclick="open_settings()">
        <i style="font-size: 150%;" class="fa fa-gear msg" onclick="open_settings()"></i>
    </div>

    <div class="nav_options_hider"></div>

    <div class="nav_options" id="admins">
        <div class="nav_options_menu_header">
            <p>ADMINS</p>
            <form action="">
                <input type="search" placeholder=" search">
            </form>
            <p>CURRENT ADMINS : <strong>{{amount_of_admins}}</strong></p>
            <i style="color: #ffffff; font-size: 150%;" class="fa fa-close msg " onclick="close_option_admin()"></i>
        </div>
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>PASSWORD</th>
                <th>POSITION</th>
                <th>EMAIL</th>
            </tr>
            {% for x in admin_details2 %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.firstname}}</td>
                <td>{{x.lastname}}</td>
                <td>{{x.passw}}</td>
                <td>{{x.position}}</td>
                <td>{{x.emails}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="nav_options" id="users">
        <div class="nav_options_menu_header">
            <p>USERS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_users()"></i>
        </div>
    </div>


    <div class="nav_options" id="compt">
        <div class="nav_options_menu_header">
            <p>COMPTITIONS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_comp()"></i>
        </div>
    </div>

    <div class="nav_options" id="test">
        <div class="nav_options_menu_header">
            <p>TYPING TEST</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_test()"></i>
        </div>
    </div>


    <div class="nav_options" id="res">
        <div class="nav_options_menu_header">
            <p>RESULTS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_res()"></i>
        </div>
    </div>


    <div class="nav_options" id="mail">
        <div class="nav_options_menu_header">
            <p>EMAILS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_mail()"></i>
        </div>
    </div>

    <div class="nav_options" id="pay">
        <div class="nav_options_menu_header">
            <p>PAYMENTS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_pay()"></i>
        </div>
    </div>

    <div class="nav_options" id="leader">
        <div class="nav_options_menu_header">
            <p>LEADERBOARD</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_leader()"></i>
        </div>
    </div>

    <div class="nav_options" id="analy">
        <div class="nav_options_menu_header">
            <p>ANALYSIS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_analy()"></i>
        </div>
    </div>

    <div class="nav_options" id="game">
        <div class="nav_options_menu_header">
            <p>GAMIFICATION</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_game()"></i>
        </div>
    </div>

    <div class="nav_options" id="secu">
        <div class="nav_options_menu_header">
            <p>SECURITY</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_secu()"></i>
        </div>
    </div>

    <div class="nav_options" id="repo">
        <div class="nav_options_menu_header">
            <p>REPORTS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_repo()"></i>
        </div>
    </div>

    <div class="nav_options" id="supp">
        <div class="nav_options_menu_header">
            <p>SUPPORT</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_option_supp()"></i>
        </div>
    </div>
    <div class="nav_options" id="admins"></div>
    <div class="nav_options" id="admins"></div>



    <div class="settings">
        <div class="settings_header">
            <p>SETTINGS<i style="color: #000000;float: right; font-size: 150%;" class="fa fa-remove msg"
                    onclick="close_settings()"></i></p>
        </div>
    </div>
    <div class="notf_msg_hider" id="msgg"></div>
    <div class="notf_msg_hider" id="notff"></div>
    <div class="messages">
        <div class="nav_options_menu_header">
            <p>MESSAGES</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_msg()"></i>
        </div>
    </div>
    <div class="notifications">
        <div class="nav_options_menu_header">
            <p>NOTIFICATIONS</p>
            <i style="color: #000000; font-size: 150%;" class="fa fa-close msg " onclick="close_notf()"></i>
        </div>
    </div>
    <script src="{% static 'js/ttd_admin_home_script.js' %}"></script>
</body>

</html>