{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ttd_admin_style.css' %}">
    
</head>

<body>
    <div class="Hidden"></div>
    <main class="main2">
        <div class="form_holder">
            <div class="ttd_admin_container">
                <div id="header">
                    <h4 id="header_text">TextTornado Admin</h4>
                </div>
                <form action="ttd_admin_homepage" method="POST">
                    {% csrf_token %}
                    <label for="username" id="usern"></label><br><br>
                    <input type="email" name="username" id="username" placeholder="Email" required><br>
                    <label for="password" id="passw"></label><br><br>
                    <input type="password" name="password" id="password" placeholder="password" required> <br>
                    <span id="displayPassword"><input type="checkbox" id="checkbox"> <label for="checkbox"
                            id="status">show password</label></span>
                    <input type="submit" value="LOGIN">
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js/ttd_user_script.js' %}"></script>
    <script src="{% static 'admin_js/ttd_admin_script.js' %}"></script>
</body>

</html>