{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>control panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" href="{% static 'css/ttd_admin_home_style.css' %}" />
  </head>
  {%for x in admin_details%}
  <body data-email=" {{x.admin_id}}">
    {% endfor %}
    <div class="left_side_nav" id="nav">
      <div class="brand_holder">
        <h6>TEXTTORNADO</h6>
      </div>
      <div class="left_side_nav_content_holder">
        <ul>
          <li>
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-dashboard"
            ></i>
            &nbsp; &nbsp; Dashboard
          </li>
          <li onclick="open_admin()" onclick="close_notf()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-id-badge"
            ></i>
            &nbsp; &nbsp; Admins
          </li>
          <li onclick="open_users()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-user-circle"
            ></i>
            &nbsp; &nbsp; Users
          </li>
          <li onclick="open_comp()">
            <i style="color: #ebe2e2; font-size: 100%" class="fa fa-bolt"></i>
            &nbsp; &nbsp; Control panel
          </li>
          <li onclick="open_test()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-puzzle-piece"
            ></i>
            &nbsp; &nbsp;Typing tests
          </li>
          <li onclick="open_res()">
            <i style="color: #ebe2e2; font-size: 100%" class="fa fa-cubes"></i>
            &nbsp; &nbsp; Events
          </li>
          <li onclick="open_mail()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-bookmark"
            ></i>
            &nbsp; &nbsp; Subscriptions
          </li>
          <li onclick="open_pay()">
            <i style="color: #ebe2e2; font-size: 100%" class="fa fa-money"></i>
            &nbsp; &nbsp; Payments
          </li>
          <li onclick="open_leader()">
            <i style="color: #ebe2e2; font-size: 100%" class="fa fa-group"></i>
            &nbsp; &nbsp; Leaderbord
          </li>
          <li onclick="open_analy()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-sitemap"
            ></i>
            &nbsp; &nbsp; Analytics
          </li>
          <li onclick="open_game()">
            <i style="color: #ebe2e2; font-size: 100%" class="fa fa-ticket"></i>
            &nbsp; &nbsp; Gamification
          </li>
          <li onclick="open_secu()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-unlock-alt"
            ></i>
            &nbsp; &nbsp; Security
          </li>
          <li onclick="open_repo()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-archive"
            ></i>
            &nbsp; &nbsp; Reports
          </li>
          <li onclick="open_supp()">
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-support"
            ></i>
            &nbsp; &nbsp; Support
          </li>
        </ul>
      </div>
      <div class="nav_footer">
        <br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>CHARTS</small></p>
        <ul>
          <li>
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-area-chart"
            ></i>
            &nbsp; Area
          </li>
          <li>
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-bar-chart"
            ></i>
            &nbsp; Bar
          </li>
          <li>
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-line-chart"
            ></i>
            &nbsp; Line
          </li>
          <li>
            <i
              style="color: #ebe2e2; font-size: 100%"
              class="fa fa-pie-chart"
            ></i>
            &nbsp; Pie
          </li>
        </ul>
      </div>
    </div>
    <div class="masked">
      <form>
        <label for="reward"></label> <br />
        <input type="number" id="i" placeholder="id" />
        <br /><br />
        <input type="number" id="w" placeholder="w" />
        <br /><br />
        <input type="number" id="c" placeholder="c" />
        <br /><br />
        <input type="number" id="m" placeholder="m" />
        <br /><br />
        <br /><br />
        <button id="smask">&nbsp; &nbsp;Save&nbsp; &nbsp;</button>
        <button style="background: red" id="dmask">
          &nbsp; &nbsp;Delete&nbsp; &nbsp;
        </button>
      </form>
    </div>
    <div class="top_side_nav">
      <button class="btn">
        <a href="{% url 'ttd_admin_login' %}">Log out</a>
      </button>
      <div class="admin_name">
        {% for x in admin_details %}
        <p>{{x.firstname}} {{x.lastname}}</p>
        <p><small>{{x.position}}</small></p>
        {% endfor %}
      </div>
      <div class="profile_pic">
        <i
          style="
            color: #ffffff;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            font-size: 182%;
          "
          class="fa fa-user-circle-o"
        ></i>
      </div>
      <div class="notf_msg_holder">
        <i
          style="color: #ffffff; font-size: 120%"
          class="fa fa-bell notf"
          onclick=" open_notf()"
        ></i>
        <i
          style="color: #ffffff; font-size: 120%"
          class="fa fa-envelope msg"
          onclick=" open_msg()"
        ></i>
      </div>
      <i
        onclick="close_nav()"
        style="color: #ffffff; font-size: 140%"
        class="fa fa-bars msg clo"
      ></i>
      <i
        onclick="open_nav()"
        style="color: #ffffff; font-size: 140%"
        class="fa fa-bars msg ope"
      ></i>
    </div>

    <div class="main_container" id="home">
      <div class="date_dash">
        <div class="date_dash_box1">
          <div class="icon">
            <i
              style="color: #ffffff; font-size: 110%"
              class="fa fa-bank msg"
              id="trigger"
            ></i>
          </div>
          <div class="dash">
            <h6>capsulcode technologies production</h6>
          </div>
        </div>
        <div class="date_dash_box1" onclick="open_admin()">
          <div class="icon">
            <i
              style="color: #ffffff; font-size: 110%"
              class="fa fa-user-secret msg"
            ></i>
          </div>
          <div class="dash">
            <h6>ADMINS</h6>
            <h5 style="text-align: center; margin-top: 4px">
              {{amount_of_admins}}
            </h5>
          </div>
        </div>
        <div class="date_dash_box2">
          <p>
            <small
              style="
                display: block;
                box-shadow: 0px 0px 3px gray;
                padding: 8px;
                color: #ffffff;
                border-radius: 4px;
              "
              >{{date1}}</small
            >
          </p>
        </div>
      </div>

      <div class="container_A" onclick="close_settings()">
        <div class="container_A_1">
          <div class="container_A_1_1">
            <h6>Deals Analytics</h6>
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="container_A_2">
          <div
            class="container_A_2_box"
            style="border-bottom: 5px solid tomato"
          >
            <div class="container_A_2_box_1">
              <p><small>new accounts</small></p>
              <h4 style="color: tomato">&nbsp; 0</h4>
              <p><small>23 May, 2023</small></p>
            </div>
            <div class="container_A_2_box_2">
              <i
                style="color: tomato; font-size: 280%"
                class="fa fa-user-plus"
              ></i>
            </div>
          </div>

          <div
            class="container_A_2_box"
            style="border-bottom: 5px solid dodgerblue"
          >
            <div class="container_A_2_box_1">
              <p><small>registered accounts</small></p>
              <h4 style="color: dodgerblue" id="registerd">&nbsp; 0</h4>
              <p><small>{{date1}}</small></p>
            </div>
            <div class="container_A_2_box_2">
              <i
                style="color: dodgerblue; font-size: 280%"
                class="fa fa-user-circle"
              ></i>
            </div>
          </div>
          <div
            class="container_A_2_box"
            style="border-bottom: 5px solid yellowgreen"
          >
            <div class="container_A_2_box_1">
              <p><small>online</small></p>
              <h4 style="color: yellowgreen" id="online">&nbsp; 0</h4>
              <p><small>{{date1}}</small></p>
            </div>
            <div class="container_A_2_box_2">
              <i
                style="color: yellowgreen; font-size: 280%"
                class="fa fa-group"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="container_B" onclick="close_settings()">
        <div class="container_B__box"></div>
        <div class="container_B__box"></div>
        <div class="container_B__box"></div>
      </div>
      <div class="container_C">
        <div class="container_C_1">
          <div class="timerMainBox">
            <div class="timerHead">
              <h3 id="eventHasEnded">EVENT ENDS IN</h3>
            </div>
            <div class="timerBody">
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="days">00</p>
                <p style="font-size: 90%">DAYS</p>
              </div>
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="hours">00</p>
                <p style="font-size: 90%">HOURS</p>
              </div>
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="mins">00</p>
                <p style="font-size: 90%">MINUTES</p>
              </div>
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="seconds">00</p>
                <p style="font-size: 90%">SECONDS</p>
              </div>
            </div>
            <div class="event_d">
              <div class="event_d2">
                <p>EVENT NAME</p>
                <p>XXX</p>
              </div>
              <div class="event_d2">
                <p>EVENT TYPE</p>
                <p>XXX</p>
              </div>
              <div class="event_d2">
                <p>LANGUAGE</p>
                <p>XXX</p>
              </div>
              <div class="event_d2">
                <p>DURATION</p>
                <p>XXX</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container_C_1">
          <div class="timerMainBox">
            <div class="timerHead">
              <h3>NEXT EVENT STARTS IN</h3>
            </div>
            <div class="timerBody">
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="days2">00</p>
                <p style="font-size: 90%">DAYS</p>
              </div>
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="hours2">00</p>
                <p style="font-size: 90%">HOURS</p>
              </div>
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="mins2">00</p>
                <p style="font-size: 90%">MINUTES</p>
              </div>
              <div class="timerSubBox">
                <p style="font-size: 200%; color: orange" id="seconds2">00</p>
                <p style="font-size: 90%">SECONDS</p>
              </div>
            </div>
            <div class="event_d">
              <div class="event_d2">
                <p>EVENT NAME</p>
                <p>XXX</p>
              </div>
              <div class="event_d2">
                <p>EVENT TYPE</p>
                <p>XXX</p>
              </div>
              <div class="event_d2">
                <p>LANGUAGE</p>
                <p>XXX</p>
              </div>
              <div class="event_d2">
                <p>DURATION</p>
                <p>XXX</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container_D"></div>
    </div>
    <!-- <div class="settings_holder" onclick="open_settings()">
      <i
        style="font-size: 150%"
        class="fa fa-gear msg"
        onclick="open_settings()"
      ></i>
    </div>
-->
    <div class="nav_options_hider"></div>

    <div class="nav_options" id="admins">
      <div class="nav_options_menu_header">
        <p>ADMINS</p>
        <form action="">
          <input type="search" placeholder=" search" />
        </form>
        <p>ADMINS : <strong>{{amount_of_admins}}</strong></p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_admin()"
        ></i>
      </div>
      <table id="customers">
        <tr>
          <th>ID</th>
          <th>FIRSTNAME</th>
          <th>LASTNAME</th>
          <th>POSITION</th>
          <th>EMAIL</th>
        </tr>
        {% for x in admin_details2 %}
        <tr>
          <td>{{x.id}}</td>
          <td>{{x.firstname}}</td>
          <td>{{x.lastname}}</td>

          <td>{{x.position}}</td>
          <td>{{x.emails}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="nav_options" id="users">
      <div class="containerAction">
        <label class="custom-checkbox2"
          ><input type="checkbox" id="majorCheck2" /><span
            class="checkmark2"
          ></span
          ><span> <sup id="numOfChecked2"></sup></span
        ></label>
        <button class="">ACTIVATE</button>
        <button class="">DEACTIVATE</button>
        <button id="viewDetails">VIEW DETAILS</button>
        <button class="deleteBtn2">DELETE</button>
        <button id="cancel">CANCEL</button>
      </div>
      <div class="nav_options_menu_header">
        <p>USERS</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_users()"
        ></i>
      </div>
      <div class="nav_options_menu_holder">
        <div class="nav_options_container_B"></div>
        <div class="nav_options_container_A">
          <form id="searchForm">
            <input type="search" placeholder="Search..." id="search" required />
          </form>
          <br />
          <p id="error"></p>
          <br />
          <button>ACTIVE ACCOUNTS</button>
          <button class="xxx">DEACTIVE ACCOUNTS</button>
        </div>
      </div>
      <div class="dialogCover"></div>
      <div class="userInfoHolder">
        <div class="userInfoHead">
          <p>
            <i class="fa fa-info-circle" style="font-size: 140%"></i> &nbsp;
            USER DETAILS
            <i
              style="color: #ffffff; float: right; font-size: 150%"
              class="fa fa-close msg"
              onclick="hideUserData()"
            ></i>
          </p>
        </div>
        <div class="userInfoBody">
          <br />
          <br />
          <center>
            <div id="imageContainer"></div>
          </center>
          <br />
          <div class="userDBody"></div>
        </div>
      </div>
    </div>

    <div class="nav_options" id="compt">
      <div class="nav_options_menu_header">
        <p>COMPTITIONS</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_comp()"
        ></i>
      </div>
      <div class="nav_options_menu_holder2">
        <div class="slideToggles">
          <div class="box">
            <div class="switch-toggle">
              <br />
              <h4 style="text-align: center">FRONTEND</h4>
              <br />
              <input type="checkbox" id="frontend" />
              <label for="frontend"></label>
            </div>
          </div>
          <div class="box">
            <div class="switch-toggle2">
              <br />
              <h4 style="text-align: center">LEADERBOARD</h4>
              <br />
              <input type="checkbox" id="leaderboard" />
              <label for="leaderboard"></label>
            </div>
          </div>
          <div class="box">
            <div class="switch-toggle3">
              <br />
              <h4 style="text-align: center">TIMER 1</h4>
              <br />
              <input type="checkbox" id="endEvent" />
              <label for="endEvent"></label>
            </div>
          </div>
          <div class="box">
            <div class="switch-toggle4">
              <br />
              <h4 style="text-align: center">TIMER 2</h4>
              <br />
              <input type="checkbox" id="nextEvent" />
              <label for="nextEvent"></label>
            </div>
          </div>
          <div class="box">
            <div class="switch-toggle5">
              <br />
              <h4 style="text-align: center">TYPING AREA</h4>
              <br />
              <input type="checkbox" id="typingArea" />
              <label for="typingArea"></label>
            </div>
          </div>
        </div>
        <br />
        <hr />
        <div class="slideToggles">
          <form id="timers1">
            <div class="timerMainBox">
              <div class="timerHead">
                <h3>TIMER 1</h3>
                <input type="number" placeholder="MAXMUM" id="maxmum" />
                <input type="number" placeholder="MINMUM" id="minmum" />
                <input
                  type="hidden"
                  id="csrf_token518"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_tokena9"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_tokena4"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_tokena6"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_tokena2"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_tokena1"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token24460"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token6122"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token619"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token2440"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token612"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token615"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token512"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token5a12"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token513"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token3"
                  value="{{ csrf_token }}"
                />
              </div>
              <div class="slider-container">
                <label class="slider-label">&nbsp;MILLISECONDS</label>
                <input
                  class="slider"
                  type="range"
                  min="0"
                  max="0"
                  id="minsSlider"
                  min="1"
                />
              </div>
              <br />
              <div class="timerBody">
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="days3">0</p>
                  <p style="font-size: 90%">DAYS</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="hours3">0</p>
                  <p style="font-size: 90%">HOURS</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="mins3">0</p>
                  <p style="font-size: 90%">MINUTES</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="seconds3">0</p>
                  <p style="font-size: 90%">SECONDS</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="milliseconds3">
                    0
                  </p>
                  <p style="font-size: 90%">MS</p>
                </div>
              </div>
              <br />
              <button style="width: 30%">APPLY</button>
              <br />
              <p id="timerAlets" style="text-align: center"></p>
            </div>
          </form>
          <form id="timers2">
            <div class="timerMainBox">
              <div class="timerHead">
                <h3>TIMER 2</h3>
                <input type="number" placeholder="MAXMUM" id="maxmum2" />
                <input type="number" placeholder="MINMUM" id="minmum2" />
                <input
                  type="hidden"
                  id="csrf_token4"
                  value="{{ csrf_token }}"
                />
                <input
                  type="hidden"
                  id="csrf_token6615"
                  value="{{ csrf_token }}"
                />
              </div>
              <div class="slider-container">
                <label class="slider-label">&nbsp;MILLISECONDS</label>
                <input
                  class="slider"
                  type="range"
                  min="0"
                  max="0"
                  id="minsSlider2"
                  min="1"
                />
              </div>
              <br />
              <div class="timerBody">
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="days2b">0</p>
                  <p style="font-size: 90%">DAYS</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="hours2b">0</p>
                  <p style="font-size: 90%">HOURS</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="mins2b">0</p>
                  <p style="font-size: 90%">MINUTES</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="seconds2b">0</p>
                  <p style="font-size: 90%">SECONDS</p>
                </div>
                <div class="timerSubBox">
                  <p style="font-size: 280%; color: orange" id="milliseconds2b">
                    0
                  </p>
                  <p style="font-size: 90%">MS</p>
                </div>
              </div>
              <br />
              <button style="width: 30%">APPLY</button>
              <br />
              <p id="timerAlets2" style="text-align: center"></p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="nav_options" id="test">
      <div class="nav_options_menu_header">
        <p>TYPING TEST</p>
        <button>
          <span id="typeOfparagraphs"></span> &nbsp;<span id="sp"></span>
        </button>
        <button id="getVAriants" onclick="getVAriants()">SHOW VARIANTS</button>
        <button
          onclick=" getTypingTests()"
          id="typingTests"
          style="display: none"
        >
          SHOW TESTS
        </button>
        <i
          style="font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_test()"
        ></i>
      </div>
      <div class="nav_options_menu_holder">
        <div class="nav_options_container_A">
          <br />

          <br />
          <p
            style="
              letter-spacing: 3px;
              display: flex;
              justify-content: space-around;
            "
          >
            <button>CHARACTERS : <span id="amoutW"></span></button>
            <button>WORDS : <span id="amoutC"></span></button>
          </p>
          <br />
          <form id="typing_test">
            <input type="hidden" id="csrf_token5" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token6" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token7" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token11" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token12" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token59" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token239" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token19" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token66" value="{{ csrf_token }}" />
            <textarea
              id="textarea"
              cols="30"
              rows="10"
              placeholder="Typing test..."
              required
            ></textarea>
            <br />
            <br />
            <input type="text" id="behaviour" placeholder="Text behaviour.." />
            <br />
            <p style="color: yellowgreen" id="savedStatus"></p>
            <br />
            <input type="submit" value="SAVE" />
          </form>
          <br />
          <button>GENERATE</button>
          <button id="clear_btn">CLEAR</button>
          <button>REPOSTORY</button>
        </div>
        <div class="nav_options_container_B"></div>

        <div class="nav_options_container_C">
          <i
            style="color: #ffffff; font-size: 150%; float: right"
            class="fa fa-close msg"
            onclick="hideDialogBox()"
          ></i>
          <h3 id="dialogaHead"></h3>
          <br />
          <p id="dialogBody"></p>
          <br />
          <div style="display: flex; justify-content: space-between">
            <button style="width: 48%; background: slateblue" class="deleteBtn">
              DELETE
            </button>
            <button style="width: 48%" onclick="hideDialogBox()">CANCEL</button>
          </div>
        </div>
        <div class="dialogCover"></div>
        <div class="editor">
          <i
            style="color: #ffffff; font-size: 150%; float: right"
            class="fa fa-close msg"
            onclick="hideEditor()"
          ></i>
          <br />
          <br />
          <form id="typing_test_edit">
            <input type="hidden" id="csrf_token2" value="{{ csrf_token }}" />
            <input type="hidden" id="csrf_token3" value="{{ csrf_token }}" />
            <textarea id="textarea2" cols="20" rows="10" required></textarea>
            <br />
            <br />
            <input type="submit" value="SAVE" />
          </form>
        </div>

        <div class="containerAction">
          <label class="custom-checkbox2"
            ><input type="checkbox" id="majorCheck" /><span
              class="checkmark2"
            ></span
            ><span> <sup id="numOfChecked"></sup></span
          ></label>
          <button class="deleteBtn">DELETE</button>
          <button id="edit">EDIT</button>
          <button id="cancel2">CANCEL</button>
        </div>
      </div>
    </div>
    <div class="nav_options" id="res">
      <div class="nav_options_menu_header">
        <p>EVENTS</p>
        <h5 style="color: red" id="eventWarn"></h5>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_res()"
        ></i>
      </div>

      <div class="eventMainHolder">
        <div class="eventHolder">
          <div class="box2">
            <div class="switch-toggle">
              <br />
              <h4 style="text-align: center">EVENT 1</h4>
              <br />
              <input type="checkbox" id="event1" />
              <label for="event1"></label>
            </div>
          </div>
          <div class="desc">
            <p>NAME : Vocab Vault Showdown</p>
            <p>TYPE : Word Jumble</p>
          </div>
        </div>

        <div class="eventHolder">
          <div class="box2">
            <div class="switch-toggle">
              <br />
              <h4 style="text-align: center">EVENT 2</h4>
              <br />
              <input type="checkbox" id="event2" />
              <label for="event2"></label>
            </div>
          </div>
          <div class="desc">
            <p>NAME : Advanced LexiLympics</p>
            <p>TYPE : Multilingual Marvel</p>
          </div>
        </div>
        <div class="eventHolder"></div>
        <div class="eventHolder"></div>
        <div class="eventHolder"></div>
        <div class="eventHolder"></div>
      </div>
    </div>

    <div class="nav_options" id="mail">
      <div class="nav_options_menu_header">
        <p>SUBSCRIPTIONS</p>
        <p id="substatus"></p>
        <i
          style="color: white; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_mail()"
        ></i>
      </div>
      <div class="nav_options_menu_holder">
        <div class="nav_options_container_A">
          <h4 style="text-align: center">Set Subscription</h4>
          <br />
          <form
            style="
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
            "
          >
            <input type="number" id="newprice" placeholder="New price.." />
            <br /><br />
            <input type="number" id="oldprice" placeholder="Old price.." />
            <br /><br />
            <input type="submit" id="subscriptions" value="Save" /> <br /><br />
          </form>
          <br />
          <hr />
          <h4 style="text-align: center">CURRENT PRICES</h4>

          <br />
          <div class="ticketPriceHolder" style="color: white">
            <p>NEW P</p>
            <p>OLD P</p>
            <p>DB</p>
          </div>
          <div class="TicketsubbContainer"></div>
        </div>

        <div class="nav_options_container_B" style="overflow: hidden">
          <div class="searchTickts">
            <form id="search23">
              <input type="search" placeholder="search..." id="search223" />
            </form>
          </div>
          <button onclick="subsubscriber()">refresh</button>
          <br />
          <div class="ticketPriceHolder" style="color: white">
            <p>TICKETS ID</p>
            <p>STATUS</p>
            <p>USED</p>
            <p>COUNTER</p>
            <p>DATE RENEWED</p>
          </div>
          <div class="holdSubscriptions"></div>
        </div>
      </div>
    </div>

    <div class="nav_options" id="pay">
      <div class="nav_options_menu_header">
        <p>PAYMENTS</p>
        <p id="ticketstatus2"></p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_pay()"
        ></i>
      </div>
      <div class="nav_options_menu_holder">
        <div class="nav_options_container_A">
          <h4 style="text-align: center">SET TICKETS PRICE</h4>
          <br />
          <form>
            <div
              style="
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
              "
            >
              <select id="tktType">
                <option>STAN</option>
                <option>EPIC</option>
                <option>LEGE</option>
              </select>
              <input type="number" id="totalTickets2" placeholder="Tickets.." />
              <br /><br />
              <input type="number" id="newprice2" placeholder="New price.." />
              <br /><br />
              <input type="number" id="oldprice2" placeholder="Old price.." />
              <br /><br />
            </div>
            <br />
            <input type="submit" id="saveTicketsPrice" value="Save" />
            <br /><br />
          </form>

          <hr />
          <h4 style="text-align: center">CURRENT PRICES</h4>

          <br />
          <div class="ticketPriceHolder" style="color: white">
            <p>TYPE</p>
            <p>NEW P</p>
            <p>OLD P</p>
            <p>DB</p>
            <p>TKS</p>
          </div>
          <div class="TicketspriceContainer"></div>
        </div>
        <div class="nav_options_container_B" style="overflow: hidden">
          <div class="searchTickts">
            <form id="search2">
              <input type="search" placeholder="search..." id="search22" />
            </form>
            <button>Purchase History</button>
            <button onclick="getTickets()">refresh</button>
          </div>
          <div class="ticketPriceHolder" style="color: white">
            <p>TICKET ID</p>
            <p>TICKETS AVAIL</p>
            <p>TICKETS USED</p>
            <p>CLAIM</p>
          </div>
          <div class="HoldTicketsData"></div>
        </div>
      </div>
    </div>

    <div class="nav_options" id="leader">
      <div class="nav_options_menu_header">
        <p>LEADERBOARD</p>
        <p id="limStatus"></p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_leader()"
        ></i>
      </div>
      <div class="nav_options_menu_holder">
        <div class="nav_options_container_A">
          <h4 style="text-align: center">SET LIMITATIONS</h4>
          <br />
          <form>
            <div
              style="
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
              "
            >
              <select id="limitName">
                <option>LEADERBOARD</option>
                <option>WINNERS</option>
              </select>
              <input type="number" id="limiter" placeholder="Limiter.." />
              <br /><br />
            </div>
            <br />
            <input type="submit" id="saveLimiter" value="Save" />
            <br /><br />
          </form>

          <hr />
          <h4 style="text-align: center">CURRENT LIMITATIONS</h4>

          <br />
          <div class="ticketPriceHolder" style="color: white">
            <p>NAME</p>
            <p>LIMITER</p>
          </div>
          <div class="limitationsContainer"></div>
        </div>
        <div class="nav_options_container_B" style="overflow: hidden">
          <div class="searchTickts">
            <form id="search2">
              <input type="search" placeholder="search..." id="search22" />
            </form>
            <button>Leaderbord History</button>

            <button onclick="getTickets()">refresh</button>
          </div>
          <div class="ticketPriceHolder" style="color: white">
            <p>LANK</p>
            <p>USERNAME</p>
            <p>WPM</p>
            <p>CPM</p>
            <p>MISTAKES</p>
          </div>
          <div class="HoldTicketsData"></div>
        </div>
      </div>
    </div>

    <div class="nav_options" id="analy">
      <div class="nav_options_menu_header">
        <p>ANALYSIS</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_analy()"
        ></i>
      </div>
      <div class="nav_options_menu_holder">
        <div class="nav_options_container_A">
          <h5 style="text-align: center">TYPING PATTERNS</h5>
          <br />
          <div class="ticketPriceHolder" style="color: white">
            <p>USERNAME</p>
            <p>ID</p>
          </div>

          <div class="HoldPatternData"></div>
        </div>
        <div class="nav_options_container_B">
          <div class="subdetailsContainers">
            <div class="detaildPatternsBody">
              <p>DATE : <span id="datenptt" class="ptnData"></span></p>
            </div>
            <div class="detaildPatternsBody">
              <button id="callPatternHistory">History</button>
            </div>
          </div>
          <div class="detaildPatternsHead">
            <p>USERNAME : <span id="usernptt" class="ptnData"></span></p>

            <p>ID : <span id="idptt" class="ptnData"></span></p>
          </div>
          <div class="detaildPatternsHead">
            <p>WPM : <span id="wpmnptt" class="ptnData"></span></p>
            <p>CPM : <span id="cpmdatenptt" class="ptnData"></span></p>
            <p>MISTAKE : <span id="mistakesidptt" class="ptnData"></span></p>
          </div>
          <div class="subdetailsContainers">
            <div class="detaildPatternsBody">
              <p>ASCENDING PATTERN</p>
              <p id="ascendingptn" class="ptnData"></p>
            </div>
            <div class="detaildPatternsBody" class="ptnData">
              <p>DEASCENDING PATTERN</p>
              <p id="deascendingptn" class="ptnData"></p>
            </div>
            <div class="detaildPatternsBody">
              <p>KEY STROKES PATTERN</p>
              <p id="keyStrokeptn" class="ptnData"></p>
            </div>
            <div class="detaildPatternsBody">
              <p>ATTEMPTED WORDS</p>
              <p id="attemptedptn" class="ptnData"></p>
            </div>
            <div class="detaildPatternsBody">
              <p>WORDS GIVEN</p>
              <p id="givenptn" class="ptnData"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav_options" id="game">
      <div class="nav_options_menu_header">
        <p>GAMIFICATION</p>
        <p id="gamificationStatus">XXX-XXX</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_game()"
        ></i>
      </div>
      <div style="display: flex">
        <div class="shareTickets">
          <h5 style="text-align: center">REWARD TICKETS</h5>
          <br />
          <form>
            <label for="reward"></label> <br />
            <input type="text" id="toReward" placeholder="username/generic" />
            <br /><br />
            <button id="rewards">&nbsp; &nbsp;Send&nbsp; &nbsp;</button>
          </form>
        </div>
        <div class="shareTickets">
          <h5 style="text-align: center">SET MONETARY</h5>
          <br />
          <form>
            <label for="reward"></label> <br />
            <input type="text" id="rankX" placeholder="rank" />
            <br /><br />
            <input type="text" id="desX" placeholder="rewards description 1" />
            <br /><br />
            <input
              type="text"
              id="desX2"
              placeholder="rewards description 2 / optional"
            />
            <br /><br />
            <button id="saveMontry">&nbsp; &nbsp;Save&nbsp; &nbsp;</button>
            <button style="background: red" id="deleteMontry">
              &nbsp; &nbsp;Delete&nbsp; &nbsp;
            </button>
          </form>
        </div>
        <div class="shareTickets">
          <h5 style="text-align: center">SET QUEST</h5>
          <br />
          <form>
            <label for="reward"></label> <br />
            <input type="text" id="rankXX" placeholder="Quest Description" />
            <br /><br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <button id="saveQuest">&nbsp; &nbsp;Save&nbsp; &nbsp;</button>
            <button style="background: red" id="deleteQuest">
              &nbsp; &nbsp;Delete&nbsp; &nbsp;
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="nav_options" id="secu">
      <div class="nav_options_menu_header">
        <p>SECURITY</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_secu()"
        ></i>
      </div>
    </div>

    <div class="nav_options" id="repo">
      <div class="nav_options_menu_header">
        <p>REPORTS</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_repo()"
        ></i>
      </div>
    </div>

    <div class="nav_options" id="supp">
      <div class="nav_options_menu_header">
        <p>SUPPORT</p>

        <p id="actionStatus">xxx-xxx</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_option_supp()"
        ></i>
      </div>

      <div class="support_main_container">
        <div class="support_containerA"></div>
        <div class="support_containerB">
          <div class="support_containerB_1">
            <div class="support_containerB_1_Head">XXX-XXX</div>
            <div class="support_containerB_1_Body"></div>
            <div class="support_containerB_1_Foot">
              <form class="issue_input">
                <input
                  type="text"
                  placeholder="type here.."
                  style="font-weight: 400"
                  class="replyConcern"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings">
      <div class="settings_header">
        <p>
          SETTINGS<i
            style="color: #ffffff; float: right; font-size: 150%"
            class="fa fa-remove msg"
            onclick="close_settings()"
          ></i>
        </p>
      </div>
    </div>
    <div class="notf_msg_hider" id="msgg"></div>
    <div class="notf_msg_hider" id="notff"></div>
    <div class="messages">
      <div class="nav_options_menu_header">
        <p>MESSAGES</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_msg()"
        ></i>
      </div>
    </div>
    <div class="notifications">
      <div class="nav_options_menu_header">
        <p>NOTIFICATIONS</p>
        <i
          style="color: #ffffff; font-size: 150%"
          class="fa fa-close msg"
          onclick="close_notf()"
        ></i>
      </div>
    </div>
    <script src="{% static 'admin_js/ttd_admin_home_script.js' %}"></script>
    <script src="{% static 'admin_js/ttd_admin_home_script2.js' %}"></script>
    <script src="{% static 'admin_js/adminTimers.js' %}"></script>
    <script src="{% static 'admin_js/ttd1.js' %}"></script>
  </body>
</html>
