{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link
      rel="stylesheet"
      href="{% static 'css/ttd_user_signup_style.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/user_sign_up_mobile.css' %}"
    />
    <title>Signup with textornado</title>
  </head>

  <body>
    <div class="fade"></div>
    <div class="container">
      <div class="loading">
        <img
          src="/images/loading.gif"
          style="width: 40px; height: 40px; border-radius: 50%"
        />
      </div>
      <div>
        <br />
        <div class="container-logo">
          <img src="/images/logo.png" alt="logo" id="logo" />
        </div>
        <h1>Text<span style="color: rgb(255, 140, 0)">Tornado</span></h1>
        <div class="container-error">
          <i class="fas fa-exclamation-triangle" style="color:red"></i> &nbsp;
          <span id="error"></span>
        </div>
        <form id="form">
          <div class="firstForm">
            <h2>Create your account in 4 steps.</h2>
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
            <label for="firstname">Firstname</label> <br />
            <input type="text" id="firstname" /> <br />
            <br />
            <label for="lastname">Lastname</label>
            <input type="lastname" id="lastname" /> <br />
            <div class="next-holder">
              <span style="color: rgb(255, 140, 0); font-size: 80%"
                >step 1/4</span
              >
              <div class="next-btn">Next</div>
            </div>
          </div>
          <div class="secondForm">
            <label for="firstname">Password</label> <br />
            <input type="password" id="ppassword" /> <br />
            <br />
            <label for="lastname">Confirm password</label>
            <input type="password" id="cpassword" /> <br />
            <div>
              <label class="custom-checkbox"
                ><input type="checkbox" id="checkbox" /><span
                  class="checkmark"
                ></span
              ></label>
              <label for="checkbox"><sup>show password</sup></label>
            </div>
            <div class="next-holder">
              <span style="color: rgb(255, 140, 0); font-size: 80%"
                >step 2/4</span
              >
              <div class="next-btn">Next</div>
            </div>
          </div>
          <div class="thirdForm">
            <label for="username">Username</label> <br />
            <input
              type="text"
              id="username"
              placeholder="Choose unique username without spaces"
            />
            <br />
            <div class="next-holder">
              <span style="color: rgb(255, 140, 0); font-size: 80%"
                >step 3/4</span
              >
              <div class="next-btn">Next</div>
            </div>
          </div>
          <div class="fourthForm">
            <span
              >Enter your phone number so TextTordo can help you if you forget
              the password to your account</span
            >
            <br />
            <input type="number" id="number" placeholder="Phone number" />
            <br />
            <div class="next-holder">
              <span style="color: rgb(255, 140, 0); font-size: 80%"
                >step 4/4</span
              >
              <div class="next-btn">Next</div>
            </div>
          </div>
          <div class="fiveForm">
            <span
              >a 6-digit verification code has been sent to
              <span id="num"></span>. Don’t see the text message?
              <span class="link-color resend">Send a new code</span>
            </span>
            <br />
            <br />
            <label style="font-size: 120%" for="code">Enter the code</label>
            <input type="number" id="code" placeholder="" />
            <br />
            <div class="next-holder">
              <div class="next-btn" style="width: 100%">Verify</div>
            </div>
          </div>
        </form>
        <br />
        <div class="container-new-acc">
          <span>Already have account?</span>
          <span><a href="{% url 'ttd_user_login'%}" class="link-color"
            >Sign In</a
          ></span><span>.</span>
        </div>
      </div>
    </div>
    <footer>
      <p class="link-color">Terms</p>
      <p class="link-color">Privacy</p>
      <p style="color: grey; font-size: 80%">contant TextTernado Support</p>
    </footer>
    <div class="sub-footer">
      <p>@ capsualcode 2023</p>
    </div>
    <script src="{% static 'js/ttd_user_script_signup.js' %}"></script>
  </body>
</html>
