{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ttd_admin_style.css' %}">
</head>

<body>
    <main class="main2">
        <div class="welcoming_holder">
            <div class="welcoming_holder_text">
                <p id="typing-text2"></p>
            </div>
            <div class="welcoming_holder_btn">
                <div class="btn_create_acount">
                    <p> <a href="{% url 'ttd_admin_login'%}">LOG IN</a></p>
                </div>
            </div>
        </div>
        <div class="form_holder">
            <div class="ttd_admin_container">
                <div id="header">
                    <h4 id="header_text"></h4>
                </div>
                <form action="" id="s_form">
                    {% csrf_token %}
                    <div class="shown_form_part">
                        <span style="color:red; text-align: center; font-size: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;<small
                                id="warn1"></small></span> <br>
                        <label for="firstname" id="fname"></label><br>
                        <input type="text" name="firstname" id="firstname" required><br>
                        <label for="lastname" id="lname"></label><br>
                        <input type="text" name="lastname" id="lastname" required><br>
                        <label for="password" id="passw"></label><br>
                        <input type="password" name="password" id="password" required> <br>
                        <label for="password2" id="passw2"></label><br>
                        <input type="password" name="password2" id="password2" required> <br>
                        <span id="displayPassword"><input type="checkbox" id="checkbox"> <label for="checkbox"
                                id="status">show password</label></span>
                        <input type="button" value="NEXT" id="hidden_form">
                    </div>

                    <div class="hidden_form_part">
                        <label for="email" id="email">EMAIL</label><br>
                        <input type="email" name="email" id="email" required><br>
                        <label for="verification" id="verification">ENTER VERIFICATION CODE</label><br>
                        <input type="text" name="verification" id="verification" required><br>
                        <label for="position" id="position">POSITION</label><br>
                        <input type="text" name="position" id="position" required><br>
                        <input type="button" value="PREVEOUS" id="shown_form">
                        <input type="submit" value="FINISH">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js/ttd_user_script.js' %}"></script>
    <script src="{% static 'js/ttd_user_script2.js' %}"></script>
</body>

</html>